#Ignore folder
.phpintel
.vscode
*.map
*.css.map
Thumbs.db
vendor
acf-json
node_modules
sftp.json
*.todo
.eslintcache
.stylelintcache
editor-style.css
style.css
style-rtl.css
js/plugins.js
js/custom.js
