.table-expanded {
	width: 100%;
}

.table-striped {
	tbody {
		tr:nth-child(odd) {
			background-color: #f9f9f9;
		}
	}
}

.table-bordered {
	th, td {
		border: 1px solid #e5e5e5;
	}
}

.table-mixed {
	@extend .table-expanded;
	@extend .table-striped;
	@extend .table-bordered;
}