.breadcrumbs-section {
	.inner-container {
		color: $dark-grey;
		padding-block: rem-calc(16);
		border-top: rem-calc(1) solid $light-grey-20;
	}

	a {
		color: $dark-grey;
	}

	p {
		display: flex;
		align-items: center;
		gap: rem-calc(12);
	}

	.separator {
		display: grid;
		inline-size: rem-calc(6);
		block-size: rem-calc(12);
		position: relative;
		place-items: center;

		&::after {
			background-color: currentcolor;
			inline-size: rem-calc(6);
			block-size: rem-calc(12);
			content: '';
			clip-path: polygon(100% 50%, 0 100%, 0 80%, 60% 50%, 0 20%, 0 0);
		}
	}

	.last {
		background-color: $light-blue;
		color: #fff;
		font-size: rem-calc(16);
		block-size: rem-calc(24);
		padding-inline: rem-calc(12);
		border-radius: rem-calc(40);
	}
}
