.swiper-navigation {
	display: flex;
	gap: rem-calc(4);

	&:has(.swiper-button-prev.swiper-button-disabled):has(.swiper-button-next.swiper-button-disabled) {
		display: none !important;
	}

	&.style-floating {

		.swiper-button-prev,
		.swiper-button-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		.swiper-button-prev {
			inset-inline-start: rem-calc(20);
		}

		.swiper-button-next {
			inset-inline-end: rem-calc(20);
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		all: unset;
		background-color: #f2f2f2;
		line-height: fluid(44, 56);
		display: flex;
		align-items: center;
		justify-content: center;
		inline-size: fluid(44, 56);
		block-size: fluid(44, 56);
		border: rem-calc(1) solid #ddd;
		position: relative;
		z-index: 10;
		transition: 0.2s ease-out;
		box-sizing: border-box;
		user-select: none;
		cursor: pointer;

		&.swiper-button-disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		svg {
			color: currentcolor;
			max-inline-size: fluid(16, 24);
		}

		&::after {
			display: none; // overwrite arrow
		}
	}

	.swiper-button-prev {

		&:hover,
		&:focus-visible {
			svg {
				animation: micro-left 0.3s cubic-bezier(0.17, 0.67, 0.63, 1.55);
			}
		}
	}

	.swiper-button-next {

		&:hover,
		&:focus-visible {
			svg {
				animation: micro-right 0.3s cubic-bezier(0.17, 0.67, 0.63, 1.55);
			}
		}
	}
}