:root {
	// @include fluid( font-size, $font-size-base, $font-size-base * 2.4, $scaling, $four-k, true, false );
	// @include fluid( font-size, $font-size-base, $font-size-base, $mobile, $scaling, false, false ); // scale down
}

::selection {
	background: $text-selection-bg-color;
	color: $text-selection-color;
	text-shadow: none;
}

// Custom Scrollbars
@if $custom-scrollbar-enable {
	.js-no-touchevents body::-webkit-scrollbar {
		width: $track-width;

		// height used for horizonal scrollbars
		// height: 1em;
	}

	.js-no-touchevents body::-webkit-scrollbar-track {
		background: $track-background;
		margin-top: $track-margin-top;
		margin-bottom: $track-margin-bottom;
		border-radius: $track-border-radius;
	}

	.js-no-touchevents body::-webkit-scrollbar-thumb {
		background: $thumb-background;
		border-radius: $thumb-border-radius;
	}
}

html {
	// Do not use sreveal on header with this
	// Leave fixed header space when scrolled using scroll snapping
	scroll-padding-top: var(--scroll-padding-top, rem-calc(65px));
}

body {
	.js-no-touchevents &.js-popup-active {
		// make the space for hidden scrollbar on body
		// same as width set for custom scrollbar
		padding-right: $track-width;
		overflow-y: hidden;
	}
}

h1,
.h1 {
	@include fluid(font-size, $sm, $xxl, 44px, 90px);

	font-weight: 400;
	line-height: 1.2;
}

h2,
.h2 {
	@include fluid(font-size, $sm, $xxl, 36px, 72px);

	font-weight: 400;
	line-height: 1.2;
}

h3,
.h3 {
	@include fluid(font-size, $sm, $xxl, 28px, 60px);

	font-weight: 400;
	line-height: 1.2;
}

h4,
.h4 {
	@include fluid(font-size, $sm, $xxl, 24px, 48px);

	font-weight: 400;
	line-height: 1.2;
}

h5,
.h5 {
	@include fluid(font-size, $sm, $xxl, 18px, 36px);

	font-weight: 400;
	line-height: 1.2;
}

h6,
.h6 {
	font-size: rem-calc(14px);
	font-weight: 400;
	line-height: 1.2;
}

/* ----------  Content  ---------- */
a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	transition: $btn-transition;
}

p,
table,
ul,
ol,
dl,
dd,
pre,
blockquote,
address,
h1,
h2,
h3,
h4,
h5,
h6 {
	&:last-child {
		margin-bottom: 0;
	}
}

p,
pre,
blockquote,
address,
dd {
	line-height: $line-height-lg;
}

p,
table,
ul,
ol,
dl,
dd,
pre,
blockquote,
address {
	font-size: $font-size-base; // required for backend
	margin: 0 0 $paragraph-margin-bottom;
}

output {
	color: #555;
	line-height: 1.4285;
	padding-top: rem-calc(30px);
}

code {
	font-weight: 400;
	display: inline-block;
	padding: rem-calc(5px);
	background-color: $gray-100;
}

/* ----------  Lists  ---------- */
ul,
ol,
dl {
	padding: 0;
}

ul,
ol {
	margin-left: rem-calc(20px);
	list-style-position: outside;

	ul,
	ol {
		margin: 0;
		margin-left: rem-calc(40px);
		margin-top: rem-calc(5px);
	}

	ol {
		list-style-type: lower-alpha;
	}

	nav & {
		margin: 0;

		li {
			line-height: 1;
			margin-bottom: 0;
			list-style: none;
		}
	}
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

li {
	line-height: $line-height-lg;
	margin-bottom: $paragraph-margin-bottom / 2;
}

dt {
	font-family: $headings-font-family;
	font-weight: 700;
	line-height: $line-height-base;
	margin: 0 0 ($paragraph-margin-bottom / 2);
}

/* ----------  Form  ---------- */
form {
	ul {
		@include list-unstyled;
	}

	> ul {
		> li {
			margin-bottom: $paragraph-margin-bottom / 2;
			clear: both;

			> label {
				margin-right: rem-calc(10px);
			}
		}
	}

	fieldset {
		min-width: 0;
		padding: 0;
		margin: 0;
		border: 0;
	}

	legend {
		font-weight: 700;
		display: block;
		margin-bottom: $paragraph-margin-bottom / 2;
		border: 0;
	}

	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="number"],
	input[type="password"],
	input[type="email"],
	input[type="range"],
	input[type="file"],
	input[type="date"],
	input[type="search"],
	textarea,
	select {
		@include input-text;

		max-width: 100%;
	}

	input[type="submit"] {
		background-color: #fff;
	}

	input[type="search"] {
		appearance: none;
	}

	input[type="date"] {
		line-height: rem-calc(32px);
	}

	textarea {
		line-height: $line-height-base;
		height: rem-calc(150px);
		resize: vertical;
	}

	input[type="checkbox"],
	input[type="radio"] {
		line-height: normal;
		margin: 0;
		margin-right: rem-calc(5px);
		margin-top: rem-calc(4px);
	}

	select[multiple],
	select[size] {
		height: auto;
	}

	input[type="file"] {
		display: block;
	}

	input[type="range"] {
		display: block;
		width: 100%;
	}

	input[type="file"]:focus,
	input[type="radio"]:focus,
	input[type="checkbox"]:focus {
		outline: rem-calc(5px) auto -webkit-focus-ring-color;
		outline-offset: rem-calc(-2px);
	}
}

/* ----------  Miscellaneous  ---------- */
img,
iframe,
svg {
	max-width: 100%;
}

svg {
	// fix for safari mobile
	width: 100%;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}
