:root {
	// set container max-width and half-width css variable for each breakpoints
	////////////////////////////////////////////////
	--container-margin-x: #{$container-padding-x}; // required for mobile as below starts from breakpoint

	scroll-behavior: smooth;
	@each $breakpoint, $container-max-width in $container-max-widths {
		@include media-breakpoint-up($breakpoint) {
			$half-width: calc(
				(#{$container-max-width} * 0.5) - #{$container-padding-x}
			);

			--container-max-width: #{$container-max-width};
			--container-half-width: #{$half-width};
			--container-margin-x: calc(
				((100% - #{$container-max-width}) * 0.5) - #{$container-padding-x}
			);
		}
	}
}

::selection {
	background: $text-selection-bg-color;
	color: $text-selection-color;
	text-shadow: none;
}

// Custom Scrollbars
@if $custom-scrollbar-enable {
	.js-no-touchevents body::-webkit-scrollbar {
		width: $track-width;

		// height used for horizonal scrollbars
		// height: 1em;
	}

	.js-no-touchevents body::-webkit-scrollbar-track {
		background: $track-background;
		margin-top: $track-margin-top;
		margin-bottom: $track-margin-bottom;
		border-radius: $track-border-radius;
	}

	.js-no-touchevents body::-webkit-scrollbar-thumb {
		background: $thumb-background;
		border-radius: $thumb-border-radius;
	}
}

html {
	overflow-x: hidden;

	/**
	 * Do not use sreveal on header with this
	 * Useful for fixed header
	 * Leave fixed header space when scrolled using scroll snapping
	 */
	scroll-padding-top: var(--header-height, rem-calc(65));
}

body {
	color: $body-color;
	font-family: $body-font-family;
	font-size: $body-font-size;
	font-weight: 400;
	line-height: 1;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(#000, 0);

	.js-no-touchevents &.js-popup-active {
		// make the space for hidden scrollbar on body
		// same as width set for custom scrollbar
		overflow-y: hidden;
		padding-inline-end: $track-width;
	}
}

/* ----------  Content  ---------- */
a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus-visible {
		color: $link-hover-color;
	}
}

a,
button,
input[type='submit'],
input[type='button'],
input[type='reset'] {
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

p,
table,
ul,
ol,
dl,
dd,
pre,
blockquote,
address,
h1,
h2,
h3,
h4,
h5,
h6 {
	&:last-child {
		margin-bottom: 0;
	}
}

p,
pre,
blockquote,
address,
dd {
	line-height: $paragraph-line-height;
}

p,
table,
ul,
ol,
dl,
dd,
pre,
blockquote,
address {
	margin: 0 0 $paragraph-margin-bottom;
}

output {
	color: #555;
	line-height: 1.4285;
	padding-top: rem-calc(30);
}

code {
	background-color: #eee;
	font-weight: 400;
	display: inline-block;
	padding: rem-calc(5);
}

/* ----------  Lists  ---------- */
ul,
ol,
dl {
	padding: 0;
}

ul,
ol {
	margin-inline-start: rem-calc(20);
	list-style-position: outside;

	ul,
	ol {
		margin: 0;
		margin-top: rem-calc(5);
		margin-inline-start: rem-calc(40);
	}

	ol {
		list-style-type: lower-alpha;
	}

	nav & {
		margin: 0;

		li {
			line-height: 1;
			margin-bottom: 0;
			list-style: none;
		}
	}
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

li {
	line-height: 1.3;
	margin-bottom: rem-calc(15);
}

dt {
	font-weight: 700;
	line-height: 1.3;
	margin: 0 0 rem-calc(15);
}

/* ----------  Form  ---------- */
form {
	ul {
		padding-inline-start: 0;
		list-style: none;
	}

	> ul {
		> li {
			clear: both;
			margin-bottom: rem-calc(15);

			> label {
				margin-inline-end: rem-calc(10);
			}
		}
	}

	fieldset {
		min-width: 0;
		padding: 0;
		margin: 0;
		border: 0;
	}

	legend {
		font-weight: 700;
		display: block;
		margin-bottom: rem-calc(15);
		border: 0;
	}

	input[type='text'],
	input[type='tel'],
	input[type='url'],
	input[type='number'],
	input[type='password'],
	input[type='email'],
	input[type='range'],
	input[type='file'],
	input[type='date'],
	input[type='search'],
	textarea,
	select {
		// @include input-text;

		max-width: 100%;
	}

	input[type='submit'] {
		background-color: #fff;
	}

	input[type='search'] {
		appearance: none;
	}

	input[type='date'] {
		line-height: rem-calc(32);
	}

	textarea {
		line-height: 1.3;
		height: rem-calc(150);
		resize: vertical;
	}

	input[type='checkbox'],
	input[type='radio'] {
		line-height: normal;
		margin: 0;
		margin-top: rem-calc(4);
		margin-inline-end: rem-calc(5);
	}

	select[multiple],
	select[size] {
		height: auto;
	}

	input[type='file'] {
		display: block;
	}

	input[type='range'] {
		display: block;
		width: 100%;
	}

	input[type='file']:focus,
	input[type='radio']:focus,
	input[type='checkbox']:focus {
		outline: rem-calc(5) auto -webkit-focus-ring-color;
		outline-offset: rem-calc(-2);
	}
}

/* ----------  Miscellaneous  ---------- */
img,
iframe,
svg {
	max-width: 100%;
}

svg {
	// fix for safari mobile
	width: 100%;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}
