/* ----------  Required  ---------- */
.container {
	width: 100%;
	padding-right: fluid(20, 40);
	padding-left: fluid(20, 40);
	margin-right: auto;
	margin-left: auto;
}

.container-fluid {
	padding: 0 5vw;
}

// .container-small {
// 	@extend .container;

// 	max-width: rem-calc(1100);
// }

/* show focus ring on form controls only when keyboard tabbing is used, using what-input js */
[data-whatintent="keyboard"] *:focus {
	outline: rem-calc(3) dashed dodgerblue;
}

.sreveal-stagger-item,
[data-sreveal] {
	display: block;
	visibility: hidden;
}

[data-sreveal="trigger"] {
	visibility: visible;
}

@media (prefers-reduced-motion: reduce) {
	.sreveal-stagger-item,
	[data-sreveal] {
		visibility: visible;
	}
}
