/*===============================
=            Globals            =
===============================*/
$global_margin_bottom : 2rem; /* p, table, ul, ol, dl, dd, pre, blockquote, address */
$global_line_height   : 1.7; /* p, pre, blockquote, address, dt, textarea */


/*==============================
=            Colors            =
==============================*/
$red                   : #ff2500;
$black                 : #2c2c2c;
$brand_color_primary   : $red;
$brand_color_secondary : $black;


/*=============================
=            Links            =
=============================*/
$base_link_color            : $red;
$base_link_hover_color      : $black;
$base_link_decoration       : none;
$base_link_hover_decoration : none;


/*===================================
=            Font Family            =
===================================*/
$lato      : Lato, sans-serif;
$monospace : Menlo, Monaco, Consolas, "Courier New", monospace;


/*============================
=            Root            =
============================*/
$root_font_size : 16px; //only change this value if you need spacing classes at the multiple of this value.


/*============================
=            Body            =
============================*/
$base_bg_color    : #fff;
$base_color       : #444;
$base_font_family : $lato;
$base_line_height : 1;


/*================================
=            Headings            =
================================*/
$headings_color         : inherit;
$headings_font_family   : inherit;
$headings_font_weight   : 700;
$headings_line_height   : 1.4;
$headings_margin_top    : $global_margin_bottom;
$headings_margin_bottom : $global_margin_bottom/2;


/*=============================================
=            Inputs & GravityForms            =
=============================================*/
$input_bg_color          : #fff;
$input_color             : #444;
$input_line_height       : 1.2; /* used for btn mixin, so when input is next to btn they have same height */
$input_min_width         : auto;
$input_padding_x_xs      : 1rem; /* left and right for mobile */
$input_padding_x_md      : 1rem; /* left and right for desktop */
$input_padding_y_xs      : 1.3rem; /* top and bottom for mobile  */
$input_padding_y_md      : 1.3rem; /* top and bottom for desktop  */
$input_border            : 1px solid #666;
$input_focus_border      : #000;
$input_focus_outline     : false;
$input_placeholder_color : #b0b0b0;
$input_border_radius     : 0;
$input_transition        : none;


/*=============================
=            Icons            =
=============================*/
/* Defaults */
$i_menu             : '\e62f';
$i_search           : '\e612';
$i_cross            : '\e62e';
$i_calendar         : '\e60d';
$i_radio            : '\e608';
$i_radio_checked    : '\e609';
$i_checkbox         : '\e607';
$i_checkbox_checked : '\e046';
$i_mail             : '\e613';
/* Arrows */
$i_chevron_down     : '\e615';
$i_chevron_up       : '\e617';
$i_chevron_left     : '\e616';
$i_chevron_right    : '\e617';
$i_arrow_down       : '\e097';
$i_arrow_up         : '\e096';
$i_arrow_left       : '\e094';
$i_arrow_right      : '\e095';
$i_dropdown         : $i_chevron_down;
$i_go_top           : '\e61c';
/* Social */
$i_facebook         : '\e907';
$i_twitter          : '\e631';
$i_instagram        : '\e905';
$i_gplus            : '\e627';
$i_youtube          : '\e634';
$i_pinterest        : '\e62d';
$i_linkedin         : '\e62b';
/* Project Specific */


/*======================================
=            Text Selection            =
======================================*/
$text_selection_bg_color : #F7EA6F;
$text_selection_color    : #2c2c2c;


/*===============================
=            Z-index            =
===============================*/
$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;


/*===================================
=            Breakpoints            =
===================================*/
/* Orientation */
$portrait: orientation portrait;
$landscape: orientation landscape;

/* Min Width */
$min_375 : 375px;
$min_414 : 414px;
$sm      : 576px;
$md      : 768px;
$lg      : 992px;
$xl      : 1200px;
$xxl     : 1400px;
$xxxl    : 1600px;
$two_k      : 1920px;
$three_k      : 2560px;
$four_k      : 4000px;
$mac_13  : ($md) (max-height 800px);

/* Max Width */
// $max_400 : max-width 400px;
// $max_479 : max-width 479px;
// $max_480 : max-width 480px;
// $max_599 : max-width 599px;
// $max_600 : max-width 600px;
$xs      : max-width ($sm - .2);
$xs_max  : $xs;
$sm_max  : max-width ($md - .2);
$md_max  : max-width ($lg - .2);
$lg_max  : max-width ($xl - .2);

/* Range */
$sm_range : $sm $sm_max;
$md_range : $md $md_max;
$lg_range : $lg $lg_max;

/* Arrays */
$ar_bp: $sm, $md, $lg; // breakpoint variable array
$ar_bp_classes: sm, md, lg; // breakpoint classes for loop

// $ar_bp_max: $lg_max, $md_max, $sm_max, $xs_max; // breakpoint variable array, different order is used for specificty
// $ar_bp_max_classes: lg-max, md-max, sm-max, xs-max; // breakpoint classes for loop


/*===============================
=            Gutters            =
===============================*/
$gutter_1  : 1rem;
$gutter_2  : 2rem;
$gutter_3  : 3rem;
$gutter_4  : 4rem;
$gutter_5  : 5rem;
$gutter_6  : 6rem;
$gutter_7  : 7rem;
$gutter_8  : 8rem;
$gutter_9  : 9rem;
$gutter_10 : 10rem;

$ar_gutter : $gutter_1, $gutter_2, $gutter_3, $gutter_4, $gutter_5, $gutter_6, $gutter_7, $gutter_8, $gutter_9, $gutter_10;