// Can't use rem-calc function in this file

// Spacing
$global-margin-bottom : 3rem; // p, table, ul, ol, dl, dd, pre, blockquote, address
$global-line-height   : 1.7; // p, pre, blockquote, address, dt, textarea

// Input
// variables are set in input mixin file because it requires rem-values

// Text selection
$text-selection-bg-color : #F7EA6F;
$text-selection-color    : #2c2c2c;

// Custom ease
$custom_ease: cubic-bezier(0.215, 0, 0.000, 0.995);

// This variable affects the `.pt-*` and `.mb-*` classes etc.
// $enable-viewport-spacers: false;
// $viewport-spacers : (
//   3: 3vw,
//   4: 4vw,
// );
