/*===============================================
=            Carousel Slider Section            =
===============================================*/
.carousel-slider {
  a {
    color: $base_color;
    display: block;
    height: 100%;
    &:hover {
    	text-decoration: none;
    }
  }
  .img-block {
    background: #ddd;
    padding-bottom: 56.25%;
    margin-bottom: 30px;
  }
  .heading {
    margin: 0 0 20px;
  }
  .swiper-navigation {
  	position: absolute;
		z-index: 10;
		top: 10%;
		width: 100%;
  }
  @include breakpoint( $sm ) {
    margin-bottom: 40px;
  }
}


/*=============================================
=            Images Slider Section            =
=============================================*/
.images-slider-section {
	.swiper-wrapper {
		.swiper-slide {
			background: #666 no-repeat center;
			background-size: cover;
			@include display-flex;
			min-height: 300px;
			position: relative;
			&:before {
				content: '';
				background-color: rgba( 0,0,0,.4 );
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
			}
			> .container {
				@include display-flex;
				@include align-items( flex-end );
			}
			.caption, .btn {
				visibility: hidden;
				@include transition(visibility .5s);  // same as animation duration
			}
		}
		.swiper-slide-active {
			.caption, .btn {
				visibility: visible;
				@include animation-duration( .5s );
				@include animation-fill-mode( both );
				@include animation-name( fadeInUp );
				@include animation-delay( .5s );
			}
			.btn {
				@include animation-delay( .6s );
			}
		}
		.content-block {
			max-width: 100%;
			padding-top: 10vw;
			padding-bottom: 10vw;
		}
		.caption {
			color: #fff;
			font-size: 36px;
			font-weight: 600;
			line-height: 1.5;
		}
		.btn {
			min-width: 200px;
		}
		@include breakpoint( $sm ) {
			.swiper-slide {
				min-height: 400px;
			}
			.content-block {
				padding-bottom: 5vw;
			}
		}
		@include breakpoint( $md ) {
			.swiper-slide {
				min-height: 500px;
			}
			.caption {
				font-size: 48px;
			}
		}
		@include breakpoint( $lg ) {
			.swiper-slide {
				min-height: 650px;
			}
		}
	}
	.swiper-pagination {
		display: block;
		position: absolute;
		bottom: 3vw;
		right: 30px;
		z-index: 10;
	}
	.swiper-navigation {
		position: absolute;
		z-index: 10;
		top: 50%;
		@include translateY(-50%);
		width: 100%;
	}
}


/*===============================================
=            Centered Slider Section            =
===============================================*/
.centered-slider-section {
	.swiper-wrapper {
		.swiper-slide {
			background: #666 no-repeat center;
			background-size: cover;
			@include display-flex;
			min-height: 300px;
			position: relative;
			&:before {
				content: '';
				background-color: rgba( 0,0,0,.7 );
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				@include transition(.5s);
			}
			> .container {
				@include display-flex;
				@include align-items( flex-end );
			}
		}
		.swiper-slide-active {
			&:before {
				background-color: rgba( 0,0,0,.4 );
			}
			.content-block {
				opacity: 1;
			}
		}
		.content-block {
			opacity: 0;
			max-width: 100%;
			padding-top: 10vw;
			padding-bottom: 10vw;
		}
		.caption {
			color: #fff;
			font-size: 36px;
			font-weight: 600;
			line-height: 1.5;
		}
		.btn {
			min-width: 200px;
		}
		@include breakpoint( $sm ) {
			width: 70%; // this is necessary
			.swiper-slide {
				min-height: 400px;
			}
			.content-block {
				padding-bottom: 5vw;
			}
		}
		@include breakpoint( $md ) {
			.swiper-slide {
				min-height: 500px;
			}
			.caption {
				font-size: 48px;
			}
		}
		@include breakpoint( $lg ) {
			.swiper-slide {
				min-height: 650px;
			}
		}
	}
	.swiper-pagination {
		display: block;
		position: absolute;
		bottom: 3vw;
		right: 30px;
		z-index: 10;
	}
	.swiper-navigation {
		position: absolute;
		z-index: 10;
		top: 50%;
		@include translateY(-50%);
		width: 100%;
	}
}


/*==================================================
=            Nested / Single Tabs Slider            =
==================================================*/
.nested-tabs-slider, .tabs-slider {
	.swiper-wrapper {
		margin-bottom: 50px;
	}
	.swiper-slide {
		> .container {
			max-width: 80%;
		}
		.content-block {
			visibility: hidden;
			@include transition(visibility .5s); // same as animation duration
		}
	}
	.swiper-slide-active {
		.content-block {
			visibility: visible;
			@include animation-duration( .5s );
			@include animation-fill-mode( both );
			@include animation-name( fadeInUp );
			@include animation-delay( .5s ); // same as speed
		}
	}
	@include breakpoint( $lg ) {
		.swiper-slide {
			> .container {
				max-width: 1000px;
			}
		}
	}
}

.nested-tabs-slider-navigation, .tabs-slider-navigation {
	position: absolute;
	z-index: 10;
	top: 0;
	width: 100%;
	.btn {
		color: $brand_color_primary;
		position: absolute;
		@include transition( .2s ease-in-out );
		&.swiper-button-disabled {
			opacity: .4;
			pointer-events: none;
		}
		&:after {
			@include icon-font-properties;
			content: '';
			display: block;
			font-size: 36px;
		}
		&:hover {
			&:after {
				@include animation( leftRightBounce 1s infinite );
			}
		}
	}
	.btn-next {
		right: 15px;
		&:before {
			left: 0;
			@include translateX( -100% );
		}
		&:after {
			content: '\e617';
		}
	}
	.btn-prev {
		left: 15px;
		&:before {
			right: 0;
			@include translateX( 100% );
		}
		&:after {
			content: '\e616';
		}
	}
	@include breakpoint( $sm ) {
		.btn {
			&:after {
				font-size: 60px;
			}
		}
	}
	@include breakpoint( 1300px ) {
		.btn-next {
			right: 5vw;
		}
		.btn-prev {
			left: 5vw;
		}
	}
}

.nested-tabs-slider-pagination, .tabs-slider-pagination {
	@include list-unstyled;
	@include display-flex;
	@include justify-content( center );
	@include flex-wrap( wrap );
	margin-bottom: 0;
	> li {
		background-color: #fff;
		color: $black;
		text-transform: uppercase;
		text-align: center;
		border-top: 5px solid #999;
		padding: 10px 20px;
		cursor: pointer;
		margin-bottom: 10px;
		position: relative;
		&:after {
			content: '';
			background-color: $brand_color_primary;
			position: absolute;
			left: 0;
			top: -5px;
			width: 0;
			height: 5px;
			@include transition( .5s ); // same as speed
		}
		&.is-active {
			&:after {
				width: 100%;
			}
		}
	}
}


/*===========================================================
=            Half Image and Half Content Section            =
===========================================================*/
.half-image-and-half-content-section {
	@include clearfix;
	.img-col {
		@include bg-cover;
	}
	.content-col {
		padding: 50px 15px;
	}
	@include breakpoint( $xs ) {
		.img-col {
			@include bg-cover;
			background-color: #ddd;
			padding-bottom: 56.25%;
			img {
				display: none;
			}
		}
	}
	@include breakpoint( $sm ) {
		padding: 70px 0;
		.img-col {
			float: left;
			width: 40%;
			padding-left: 5vw;
		}
		.content-col {
			float: left;
			width: 60%;
			padding: 0 5vw;
		}
	}
	@include breakpoint( ($sm) ($sm_max) ) {
		.img-col {
			background: none !important;
		}
	}
	@include breakpoint( $md ) {
		@include display-flex;
		@include flex-direction( column );
		padding: 0;
		min-height: 600px;
		.inner-ie-fix {
			@include display-flex;
			min-height: 600px;
		}
		.img-col {
			width: 50%;
			img {
				display: none;
			}
		}
		.content-col {
			@include display-flex;
			@include align-items( center );
			width: 50%;
			padding-top: 70px;
			padding-bottom: 70px;
			* {
				max-width: 100%; /* IE 10-11 fix */
			}
		}
	}
}