/*===========================================================
=            Half Image and Half Content Section            =
===========================================================*/
.half-image-and-half-content-section {
	@include clearfix;
	.img-col {
		@include bg-cover;
	}
	.content-col {
		padding: 50px 15px;
	}
	@include breakpoint( $xs ) {
		.img-col {
			@include bg-cover;
			background-color: #ddd;
			padding-bottom: 56.25%;
			img {
				display: none;
			}
		}
	}
	@include breakpoint( $sm ) {
		padding: 70px 0;
		.img-col {
			float: left;
			width: 40%;
			padding-left: 5vw;
		}
		.content-col {
			float: left;
			width: 60%;
			padding: 0 5vw;
		}
	}
	@include breakpoint( ($sm) ($sm_max) ) {
		.img-col {
			background: none !important;
		}
	}
	@include breakpoint( $md ) {
		@include display-flex;
		@include flex-direction( column );
		padding: 0;
		min-height: 600px;
		.inner-ie-fix {
			@include display-flex;
			min-height: 600px;
		}
		.img-col {
			width: 50%;
			img {
				display: none;
			}
		}
		.content-col {
			@include display-flex;
			@include align-items( center );
			width: 50%;
			padding-top: 70px;
			padding-bottom: 70px;
			* {
				max-width: 100%; /* IE 10-11 fix */
			}
		}
	}
}