.container {
	&.container--small {
		max-width: rem-calc(800px);
	}
}

/*===============================
=            Default            =
===============================*/
h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6, h2 + h2, h2 + h1, h2 + h3, h2 + h4, h2 + h5, h2 + h6, h3 + h3, h3 + h1, h3 + h2, h3 + h4, h3 + h5, h3 + h6, h4 + h4, h4 + h1, h4 + h2, h4 + h3, h4 + h5, h4 + h6, h5 + h5, h5 + h1, h5 + h2, h5 + h3, h5 + h4, h4 + h6, h6 + h6, h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5,  {
	margin-top: 0;
}

/*----------  Background Video  ----------*/
.bg-video {
	position: absolute;
	left: 0;
	top: 0;
	-o-object-fit: fill;
	object-fit: cover;
	overflow: hidden;
}

.bg-video--fullscreen, .bg-video--cover {
  min-width: 100%;
  min-height: 100%;
}

.bg-video--inline, .bg-video--contain {
  max-width: 100%;
}

/*----------  Alert  ----------*/
.alert {
	background-color: #e5e5e5;
	padding: rem-calc( 20px );
	border: 1px solid #ddd;
	margin-bottom: $global_margin_bottom;
}

.alert-info {
	background-color: #ffffd9;
	border: 1px solid darken(#ffffd9, 47%);
}

.alert-error {
	background-color: #ffd9d9;
	border: 1px solid darken(#ffd9d9, 10%);
}

.alert-success {
	background-color: #dbffd9;
	border: 1px solid darken(#dbffd9, 20%);
}

/*----------  Miscellaneous  ----------*/
.custom-select-block {
	@include custom-select-block;
}

.hr {
	@extend hr;
}

p:empty {
	display: none; //added by wp-editor
}

.btn {
	@include btn;
}

/*----------  Bootstrap Grid  ----------*/
.row {
	margin-bottom: 50px;
	&:last-child {
		margin-bottom: 0;
	}
	@include breakpoint( $sm ) {
	  margin-bottom: 70px;
	}
	@include breakpoint( $md ) {
	  margin-bottom: 90px;
	}
	@include breakpoint( $lg ) {
	  margin-bottom: 10vw;
	}
}

[class*="col-xl-"] {
	@include breakpoint( $lg_max ) {
		margin-bottom: 10vw; // don't change, changing this will affect other sections
		&:last-child {
			margin-bottom: 0;
		}
	}
}

[class*="col-lg-"], [class*="col-xl-"] {
	@include breakpoint( $md_max ) {
		margin-bottom: 90px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

[class*="col-md-"], [class*="col-lg-"] {
	@include breakpoint( $sm_max ) {
		margin-bottom: 50px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

[class*="col-sm"], [class*="col-md"], [class*="col-lg"] {
	@include breakpoint( $xs ) {
		margin-bottom: 50px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

/*----------  AOS  ----------*/
html.js.mutationobserver.cssanimations:not(.is-mobile) [data-aos] {
  visibility: hidden;
  &.animated {
  	visibility: visible;
  }
}

html.is-mobile [data-aos],
html.no-mutationobserver [data-aos],
html.no-js [data-aos],
html.no-cssanimations [data-aos] {
  @include animation( none !important);
}


/*----------  Scroll Reveal  ----------*/
html.js.mutationobserver.cssanimations:not(.is-mobile) [data-sreveal],
html.js.mutationobserver.cssanimations:not(.is-mobile) .sreveal {
	// @include animation-name( none );
	visibility: hidden !important;
	&.animated {
		visibility: visible !important;
	}
}


/*----------  Swiper Arrow Navigation  ----------*/
// .swiper-arrow-navigation {
// 	.btn {
// 		color: $brand_color_primary;
// 		position: absolute;
// 		@include transition( .2s ease-in-out );
// 		&.swiper-button-disabled {
// 			opacity: .4;
// 			pointer-events: none;
// 		}
// 		&:after {
// 			@include icon-font-properties;
// 			content: '';
// 			display: block;
// 			font-size: 36px;
// 		}
// 		&:hover {
// 			&:after {
// 				//@include animation( leftRightBounce 1s infinite );
// 			}
// 		}
// 	}
// 	.btn-next {
// 		right: 15px;
// 		&:before {
// 			left: 0;
// 			@include translateX( -100% );
// 		}
// 		&:after {
// 			content: $i_arrow_right;
// 		}
// 	}
// 	.btn-prev {
// 		left: 15px;
// 		&:before {
// 			right: 0;
// 			@include translateX( 100% );
// 		}
// 		&:after {
// 			content: $i_arrow_left;
// 		}
// 	}
// 	@include breakpoint( $sm ) {
// 		.btn {
// 			&:after {
// 				font-size: 60px;
// 			}
// 		}
// 	}
// }

/*----------  Slick Dots  ----------*/
// .slick-dots {
// 	@include list-unstyled;
// 	li {
// 		display: inline-block;
// 		margin: 0 10px 0 0;
// 		position: relative;
// 		&.slick-active {
// 			button {
// 				background-color: #fff;
// 			}
// 		}
// 	}
// 	button {
// 		@include btn;
// 		@include hide-text;
// 		background-color: rgba(255,255,255,.5);
// 		width: 10px;
// 		height: 10px;
// 		border-radius: 50%;
// 	}
// }