.bg-grey {
  background-color: #f9f9f9;
}

/*================================
=            Required            =
================================*/

/*----------  Miscellaneous  ----------*/
.img-responsive, .alignnone, .alignleft, .alignright, .aligncenter, .wp-post-image {
  width: auto;
  height: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.list-unstyled {
  @include list-unstyled;
}

.limit-content {
  @include rem(max-width, 1000px);
  margin: 0 auto;
}


/*----------  Icon fonts  ----------*/
.i-font-before {
  &:before {
    @include icon-font-properties;
  }
}
.i-font-after {
  &:after {
    @include icon-font-properties;
  }
}

/*----------  Text/Fonts  ----------*/
