.bg-grey {
  background-color: #f9f9f9;
}

/*===============================
=            Default            =
===============================*/

/*----------  Miscellaneous  ----------*/
.img-responsive, .alignnone, .alignleft, .alignright, .aligncenter, .wp-post-image {
  width: auto;
  height: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.list-unstyled {
  @include list-unstyled;
}

.limit-content {
  @include rem(max-width, 1000px);
  margin: 0 auto;
}

/*----------  Background  ----------*/
.bg-cover {
  @include bg-cover;
}

.bg-overlay {
  @include bg-overlay;
}


/*----------  Icon fonts  ----------*/
.i-font-before {
  &:before {
    @include icon-font-properties;
  }
}
.i-font-after {
  &:after {
    @include icon-font-properties;
  }
}

/*----------  Text/Fonts  ----------*/
.color-base { color: $body_color; }
.color-primary { color: $primary !important; }
.color-secondary { color: $secondary !important; }

.text-underline { text-decoration: underline; }
.text-family-heading { font-family: $headings_font_family; }
.text-family-base { font-family: $body_font_family; }
.text-lead, .text-big {
  font-size: rem-calc(20px);
}
.text-small { @extend small; }