// [class^="i-"], [class*=" i-"] {
//   @include icon-font-properties;
// }

.i-youtube:before {
	content: "\e601";
}

.i-favorite-outline:before {
	content: "\e600";
}

.i-home:before {
	content: "\e60f";
}

.i-launch:before {
	content: "\e611";
}

.i-search:before {
	content: "\e612";
}

.i-pause-circle-outline:before {
	content: "\e601";
}

.i-play-circle-outline:before {
	content: "\e602";
}

.i-comment:before {
	content: "\e603";
}

.i-email:before {
	content: "\e613";
}

.i-location-on:before {
	content: "\e604";
}

.i-send:before {
	content: "\e614";
}

.i-check:before {
	content: "\e61d";
}

.i-close:before {
	content: "\e62e";
}

.i-menu:before {
	content: "\e62f";
}

.i-check-box:before {
	content: "\e606";
}

.i-check-box-outline-blank:before {
	content: "\e607";
}

.i-radio-button-off:before {
	content: "\e608";
}

.i-radio-button-on:before {
	content: "\e609";
}

.i-square-check:before {
	content: "\e046";
}

.i-square-cross:before {
	content: "\e047";
}

.i-arrow-left:before {
	content: "\e094";
}

.i-arrow-right:before {
	content: "\e095";
}

.i-arrow-up:before {
	content: "\e096";
}

.i-arrow-down:before {
	content: "\e097";
}

.i-calendar:before {
	content: "\e60d";
}

.i-chat:before {
	content: "\e60e";
}

.i-chevron-thin-down:before {
	content: "\e615";
}

.i-chevron-thin-left:before {
	content: "\e616";
}

.i-chevron-thin-right:before {
	content: "\e617";
}

.i-chevron-thin-up:before {
	content: "\e618";
}

.i-chevron-with-circle-down:before {
	content: "\e619";
}

.i-chevron-with-circle-left:before {
	content: "\e61a";
}

.i-chevron-with-circle-right:before {
	content: "\e61b";
}

.i-chevron-with-circle-up:before {
	content: "\e61c";
}

.i-location:before {
	content: "\e61e";
}

.i-old-phone:before {
	content: "\e636";
}

.i-skype-with-circle:before {
	content: "\e61f";
}

.i-dribbble-with-circle:before {
	content: "\e620";
}

.i-dribbble:before {
	content: "\e621";
}

.i-facebook-with-circle:before {
	content: "\e622";
}

.i-facebook:before {
	content: "\e623";
}

.i-flickr-with-circle:before {
	content: "\e624";
}

.i-flickr:before {
	content: "\e625";
}

.i-google-with-circle:before {
	content: "\e626";
}

.i-google:before {
	content: "\e627";
}

.i-instagram-with-circle:before {
	content: "\e628";
}

.i-instagram:before {
	content: "\e629";
}

.i-linkedin-with-circle:before {
	content: "\e62a";
}

.i-linkedin:before {
	content: "\e62b";
}

.i-pinterest-with-circle:before {
	content: "\e62c";
}

.i-pinterest:before {
	content: "\e62d";
}

.i-twitter-with-circle:before {
	content: "\e630";
}

.i-twitter:before {
	content: "\e631";
}

.i-vimeo-with-circle:before {
	content: "\e632";
}

.i-vimeo:before {
	content: "\e633";
}

.i-youtube-with-circle:before {
	content: "\e634";
}

.i-youtube:before {
	content: "\e635";
}