.bg-video {
	min-width: 100%;
	height: 100%;
	min-height: 56.25vw;

	/* 100 * 9 / 16 */
	position: absolute;

	/* % of surrounding element */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	/* % of current element */
	@media screen and (orientation: landscape) {
		width: 177.7778vh;

		/* 100 * 16 / 9 */
	}
}

.bg-cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.posts-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-block: fluid(30, 50);
	border-bottom: rem(1) solid fade-out(, 0.75);
	gap: fluid(5, 10);

	.page-numbers {
		display: flex;
		align-items: center;
		justify-content: center;
		width: fluid(30, 50);
		height: fluid(30, 50);
		transition: 250ms ease-out;

		&[class~="dots"] {
			pointer-events: none;
		}

		&.current:first-child {
			margin-left: auto;
		}

		&:hover {
			background-color: fade-out(#999, 0.75);
		}

		&.current {
			background-color: $primary;
			color: #fff;
		}

		&.prev,
		&.next {
			width: fluid(30, 60);
			height: fluid(30, 60);
			border: rem(1) solid $primary;
			border-radius: 50%;

			svg {
				width: fluid(6, 12);
			}

			&:hover {
				background-color: $primary;
				color: #fff;
			}
		}

		&.prev {
			margin-right: auto;
		}

		&.next {
			margin-left: auto;
		}
	}
}

/* ----------  Required  ---------- */
.list-unstyled {
	@include list-unstyled;
}
