p:empty {
	// added by wp-editor
	display: none;
}

.alignnone {
	margin-top: rem-calc(10px);
}

.wp-caption.alignleft {
	margin-top: 0;
	float: left;
}

.wp-caption.alignright {
	margin-top: 0;
	float: right;
}
