// optional, as per project
$blue: #1f2261;

// required, as per project
$primary-color: #1f2261;
$secondary-color: #fdba00;
$success-color: #33b469;
$info-color: #ebbc2e;
$warning-color: #ebbc2e;

// required, typography
$body-color: #080c11;
$heading-color: inherit;
$link-color: $body-color;
$link-hover-color: inherit;
