@use 'sass:map';
@use '../mixins/rem' as *;
@use 'breakpoints' as *;

$rem-base-unitless: strip-unit($rem-base);
$container-max-widths: (
	// max-width value needs to be less than the (grid-breakpoints value(xxl) - $container-padding)
	// any property added here should also be added to grid breakpoints
	'ph': 100%,
	'sm': 100%,
	'md': 95vw,
	'lg': 93vw,
	'xl': 93vw,
	'xxl': 93vw,
	'xxxl': 90rem // 1440
);
$section-spacings: (
	'small': (
		20,
		40
	),
	'medium': (
		40,
		70
	),
	'large': (
		70,
		140
	),
	'xlarge': (
		100,
		160
	)
);

// Breakpoint variables
$xs: map.get($grid-breakpoints, 'xs');
$ph: map.get($grid-breakpoints, 'ph');
$sm: map.get($grid-breakpoints, 'sm');
$md: map.get($grid-breakpoints, 'md');
$lg: map.get($grid-breakpoints, 'lg');
$xl: map.get($grid-breakpoints, 'xl');
$xxl: map.get($grid-breakpoints, 'xxl');
$xxxl: map.get($grid-breakpoints, 'xxxl');
