// Make all slides equal height

/* ========================================== */
.swiper-slide {
	height: auto;
}

/* ----------  Swiper Pagination - Dashed & left aligned  ---------- */
.swiper-pagination.swiper-pagination-horizontal {
	// specificity issue
	height: 0;
	position: relative; // overwrite default
	bottom: 0; // overwrite default

	&.scheme-dark {
		span {
			background-color: green;

			&::after {
				background: green;
				content: "";
			}
		}
	}

	span {
		display: inline-block;
		width: rem-calc(40);
		height: rem-calc(4);
		margin-left: rem-calc(5);
		border-radius: 0;
		position: relative;
		opacity: 1;
		overflow: hidden;
		background-color: rgba(#fff, 0.2);
		cursor: pointer;

		&:not(:last-child) {
			margin: 0 rem-calc(10) 0 0;
		}

		&::after {
			background: #fff;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 10;
			transform: scale(0);
			transition: 0.3s transform ease-out;
			content: "";
			transform-origin: 100% 100%;
		}

		&.swiper-pagination-bullet-active {
			&::after {
				transform: scale(1);
				transform-origin: 0 0;
			}
		}
	}

	// .hero-media-slider & {
	// 	left: var(--container-margin-x);
	// 	bottom: rem-calc( 40px );
	// }
	// .step-cards-slider-section & {
	// 	bottom: rem-calc( 50px );
	// }
	@include media-breakpoint-up(md) {
		span {
			width: rem-calc(70);
		}

		// .hero-media-slider & {
		// 	bottom: rem-calc( 110px );
		// }
	}
}

// Swiper navigation
.swiper-button-next,
.swiper-button-prev {
	color: $primary;
	text-align: center;
	width: rem-calc(60);
	height: rem-calc(60);
	border: rem-calc(1) solid $primary;
	border-radius: 50%;

	&::after {
		display: none; // default overwrite
	}

	svg {
		fill: $primary;
	}
}

// Swiper Arrow Navigation - Inline
////////////////////////////////////////////////
.swiper-navigation-inline {
	gap: 0 rem-calc(10);

	&.dir-rtl {
		flex-direction: row-reverse;
	}

	.swiper-button-prev,
	.swiper-button-next {
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem-calc(50);
		height: rem-calc(50);
		padding: rem-calc(10);

		// space for border, required, if the navigation is standalone and not a part of heading + navigation
		margin-top: rem-calc(1);
		border: rem-calc(1) solid currentcolor;
		border-radius: 50%;

		// required
		position: relative;
		right: auto;
		left: auto;
	}
}

/* ----------  Swiper Arrow Navigation - Absolute end  ---------- */
.swiper-navigation-absolute {
	.swiper-button-prev {
		right: auto;
		left: 0;
	}

	.swiper-button-next {
		right: 0;
		left: auto;
	}
}

// hide the buttons when not enough slides
.swiper-button-lock {
	display: none !important;

	// opacity: .3 !important;
}

// Scrollbar
////////////////////////////////////////////////
.swiper-horizontal > .swiper-scrollbar {
	width: 100%;
	left: 0;

	.swiper-scrollbar-drag {
		border-radius: rem-calc(5);
		background-color: teal;
	}
}

/* ----------  Swiper Arrow Navigation - RTL  ---------- */
.swiper-navigation {
	display: flex;

	&.dir-rtl {
		flex-direction: row-reverse;
	}
}

/* ----------  Required  ---------- */
// these classes are added to section containing the swiper slider
.swiper-cards-overflow-down-xl {
	@include swiper-cards-overflow-down("xl");
}

.swiper-cards-overflow-down-lg {
	@include swiper-cards-overflow-down("lg");
}

.swiper-cards-overflow-down-md {
	@include swiper-cards-overflow-down("md");
}
