.jssocials-share { // block
	display: inline-block;
	margin: 0 rem-calc(5px) rem-calc(10px) 0;
	i {
		margin-right: rem-calc(10px);
		&:before {
			@include icon-font-properties;
		}
	}
}

.jssocials-share-email {
	i:before {
		content: $i_mail;
	}
}

.jssocials-share-twitter {
	i:before {
		content: $i_twitter;
	}
}

.jssocials-share-facebook {
	i:before {
		content: $i_facebook;
	}
}

.jssocials-share-googleplus {
	i:before {
		content: $i_gplus;
	}
}

.jssocials-share-linkedin {
	i:before {
		content: $i_linkedin;
	}
}

.jssocials-share-pinterest {
	i:before {
		content: $i_pinterest;
	}
}

.jssocials-share-link { // link
	background-color: $body_color;
	color: #fff;
	text-align: center;
	text-decoration: none;
	line-height: 1;
	font-size: rem-calc(14px);
	display: block;
	padding: rem-calc(10px);
	&:hover, &:active {
		background-color: $body_color;
		color: #fff;
	}
}

.jssocials-share-count-box.jssocials-share-no-count {
	display: none;
}