.bg-video {
	min-width: 100%;
	height: 100%;
	min-height: 56.25vw;

	/* 100 * 9 / 16 */
	position: absolute;

	/* % of surrounding element */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	/* % of current element */
	@media screen and (orientation: landscape) {
		width: 177.7778vh;

		/* 100 * 16 / 9 */
	}
}

.bg-cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.posts-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: fluid(5, 10);
	padding-block: fluid(30, 50);
	border-bottom: rem-calc(1) solid rgba(#000, 0.75);

	.page-numbers {
		display: flex;
		align-items: center;
		justify-content: center;
		width: fluid(30, 50);
		height: fluid(30, 50);
		transition: 250ms ease-out;

		&[class~='dots'] {
			pointer-events: none;
		}

		&.current:first-child {
			margin-inline-start: auto;
		}

		&.current:last-child {
			margin-inline-end: auto;
		}

		&:hover {
			background-color: rgba(#999, 0.75);
		}

		&.current {
			background-color: $primary;
			color: #fff;
		}

		&.prev,
		&.next {
			width: fluid(30, 60);
			height: fluid(30, 60);
			border: rem-calc(1) solid $primary;
			border-radius: 50%;

			svg {
				width: fluid(6, 12);
			}

			&:hover {
				background-color: $primary;
				color: #fff;
			}
		}

		&.prev {
			margin-inline-end: auto;
		}

		&.next {
			margin-inline-start: auto;
		}
	}
}

.loader {
	display: inline-block;
	width: fluid(24, 48);
	height: fluid(24, 48);
	border: fluid(3, 5) solid #333;
	border-bottom-color: transparent;
	border-radius: 50%;
	animation: rotation 1s linear infinite;
	box-sizing: border-box;
	pointer-events: none;

	&.small {
		width: rem-calc(24);
		height: rem-calc(24);
	}

	&.center {
		margin: auto;
		border-width: rem-calc(3);
		position: absolute;
		inset: 0;
	}
}

/* ----------  Required  ---------- */
.list-unstyled {
	@include list-unstyled;
}
