.type-post {
	clear: both;
	padding-bottom: rem-calc( 40px );
	border-bottom: rem-calc( 1px ) solid #e5e5e5;
	margin-bottom: rem-calc( 40px );
	&:last-child {
		border: none;
		padding: 0;
		margin: 0;
	}
	&.sticky {
		background: #f5f5f5;
		padding: rem-calc( 20px );
		border: rem-calc( 1px ) solid #ddd;
		box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff;
	}
}

.featured-img-block {
	text-align: center;
	margin: 0 0 rem-calc( 20px );
	a {
		display: inline-block;
		height: 100%;
		&:hover {
			img {
				@include scale(1.1);
			}
		}
		&:hover, &:focus {
			@include transition( .4s cubic-bezier(.33,0,.2,1));
			-webkit-backface-visibility: hidden;
		}
	}
	@include breakpoint( $sm ) {
		text-align: left;
	}
}

.post-title {
	font-size: rem-calc( 20px );
	line-height: 1.3;
	margin-bottom: rem-calc( 5px );
	a {
		color: $base_color;
		&:hover, &:focus {
			color: $brand_color_primary;
		}
	}
}

.post-meta {
	color: #999;
	font-size: $root_font_size - 1;
	margin-bottom: rem-calc( 15px );
	line-height: 1.2;
	overflow: hidden;
	a {
		color: #999;
		&:hover, &:focus {
			color: $base_link_color;
			text-decoration: underline;
		}
	}
}

.posts-pagination {
	clear: both;
	float: right;
	width: 100%;
	.index {
		font-weight: 700;
		line-height: 32px;
		float: left;
		margin-right: 20px;
		margin-bottom: 10px;
	}
	ul {
		list-style: none;
		float: left;
		margin-left: 0;
		margin-top: 0;
	}
	li {
		float: left;
		margin: 0 6px 6px 0;
		&:last-child {
			margin-right: 0;
		}
		a, span {
			@include pagination-links;
		}
		a:hover, .current {
			background: $base_link_color;
			color: #fff;
		}
	}
}