.page-template-projects {
  background-color: #eee;
}

.project-filters-block {
  @include display-flex;
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  margin-left: rem-calc(-10px);
  margin-right: rem-calc(-10px);
  .custom-select-block,
  .list-filters {
    @include flex(1 1 auto);
    padding: 0 rem-calc(10px);
    margin-bottom: rem-calc(10px);
  }
  .custom-select-block {
    select {
      text-transform: capitalize;
    }
    &:after {
      right: rem-calc(25px); // include padding
    }
  }
}

.list-tax-one-filters,
.list-tax-two-filters {
  @include list-unstyled;
  margin-bottom: 0;
  > li {
    display: inline-block;
    margin-right: rem-calc(5px);
    margin-bottom: rem-calc(9px);
    &:last-child {
      margin-right: 0;
    }
    &.js-active {
      a {
        background-color: $primary;
        color: #fff;
        text-decoration: none;
      }
    }
  }
  a {
    background-color: #fff;
    color: #2c2c2c;
    font-weight: 600;
    display: block;
    padding: rem-calc(10px) rem-calc(20px);
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      color: red;
    }
    &.active {
      background-color: $primary;
      color: #fff;
      text-decoration: none;
    }
  }
}

.blog-grid {
  @include list-unstyled;
  margin-top: rem-calc(-12px);
  margin-left: rem-calc(-12px);
  margin-right: rem-calc(-12px);
  .col {
    padding-left: rem-calc(12px);
    padding-right: rem-calc(12px);
    margin-top: rem-calc(12px);
    margin-bottom: rem-calc(12px);
  }
  .post-link {
    color: $body_color;
    display: block;
  }
  aside.thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 66.666666%;
  }
  .content-block {
    background-color: #fff;
    width: 100%;
    padding: rem-calc(20px);
    border-bottom: rem-calc(5px) solid #cad0d2;
    position: relative;
  }
  .post-title {
    font-size: rem-calc(22px);
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: rem-calc(8px);
  }
  .category {
    background-color: #cad0d2;
    color: #4e4242;
    font-size: rem-calc(12px);
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    padding: rem-calc(7px) rem-calc(10px) rem-calc(7px) rem-calc(20px);
    position: absolute;
    bottom: 100%;
    left: 0;
  }
  time {
    color: #999;
    font-size: $root_font_size - 1;
    line-height: 1;
  }
  &.resources-grid {
    aside.thumbnail {
      padding-bottom: 100%;
    }
  }

  @include media-breakpoint-down($xs) {
    .post-link {
      max-width: rem-calc(300px);
      margin: 0 auto;
    }
  }
  @include media-breakpoint-up($sm) {
    @include display-flex;
    @include flex-wrap(wrap);
    .col {
      @include flex(0 0 50%);
      @include display-flex;
    }
    .full-col {
      @include flex(1 1 100%); // container nothing found
      padding: rem-calc(30px) 0 0;
    }
    .post-link {
      @include display-flex;
      @include flex-direction(column);
      width: 100%;
    }
    aside.thumbnail {
      @include flex(0 0 auto);
    }
    .content-block {
      @include flex(1 1 auto);
      @include display-flex;
      @include flex-direction(column);
    }
    .post-title {
      @include flex(1 0 auto);
    }
  }
  @include media-breakpoint-up(sm) {
    .col {
      @include flex(0 0 33.333333%);
    }
  }
}
