.type-post {
	margin-bottom: 5rem;

	.embed-responsive {
		margin-bottom: $paragraph-margin-bottom;
	}

	header {
		margin-bottom: 3rem;
	}

	.post-title {
		text-transform: none;
		margin-bottom: 0.5rem;
	}

	.post-meta {
		color: #888;
		font-size: 1.6rem;
		line-height: 1.4;
		margin-bottom: rem-calc(20px);
		overflow: hidden;

		.author {
			text-transform: capitalize;
		}

		a {
			color: #999;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

// Single Navigation - Prev/Next
.post-nav {
	display: none;
	@include media-breakpoint-up(sm) {
		background: #fff;
		color: #222;
		font-weight: 700;
		display: block;
		padding: 40px 0;
		clear: both;
		border-top: 1px solid #e5e5e5;

		> div {
			width: 33.3333%;
			float: left;
		}

		a {
			color: #2c2c2c;
			text-decoration: none;

			&:hover {
				color: red;
			}
		}

		.old-post {
			position: relative;

			a {
				padding-left: rem-calc(25px);

				// &:before {
				//   @include icon-font-properties;
				//   content: $i-arrow-left;
				//   position: absolute;
				//   left: 0;
				//   transition: 100ms transform linear;
				// }
				&:hover {
					&::before {
						transform: translate3d(rem-calc(5px), 0, 0);
					}
				}
			}
		}

		.new-post {
			text-align: right;
			position: relative;

			a {
				padding-right: rem-calc(25px);

				// &:after {
				//   @include icon-font-properties;
				//   content: $i-arrow-right;
				//   position: absolute;
				//   right: 0;
				//   transition: 100ms transform linear;
				// }
				&:hover {
					&::after {
						transform: translate3d(rem-calc(-5px), 0, 0);
					}
				}
			}
		}
	}
}

//  Single Pagination
.single-pagination {
	overflow: hidden;
	clear: both;

	.index {
		font-weight: 700;
		line-height: rem-calc(28px);
		padding: 0;
		margin-right: rem-calc(10px);
		border: 0;
	}

	span,
	a {
		background: #fff;
		color: #666;
		font-size: rem-calc(12px);
		text-align: center;
		line-height: 1;
		min-width: rem-calc(10px);
		padding: rem-calc(7px) rem-calc(10px);
		margin-left: rem-calc(4px);
		border: rem-calc(1px) solid #e7e7e7;
		float: left;
	}

	a:hover,
	.current {
		background: $link-color;
		color: #fff;
	}
}

// Author Box
.author-box {
	background: #f5f5f5;
	padding: rem-calc(20px);
	margin-bottom: $paragraph-margin-bottom;
	border: rem-calc(1px) solid #ddd;
	box-shadow: inset rem-calc(1px) rem-calc(1px) 0 #fff,
		inset rem-calc(-1px) rem-calc(-1px) 0 #fff;
	overflow: hidden;
}

.author-info {
	overflow: hidden;
}

.avatar-block {
	width: rem-calc(100px);
	height: rem-calc(100px);
	padding: rem-calc(2px);
	margin-right: rem-calc(20px);
	border: rem-calc(1px) solid #eee;
	float: left;
}
