#sitemap-tabs {
  border: 1px solid #ddd;
  .list-tabs {
    @include list-unstyled;
    border-bottom: none;
    overflow: hidden;
    @include display-flex;
    > li {
      background-color: #666;
      @include flex(1 1 auto);
      text-align: center;
      &:hover {
        background-color: lighten(#666,7%);
      }
      &.r-tabs-state-active {
        background-color: $primary;
        &:hover {
          background-color: $primary;
        }
      }
    }
    a { //same as accordion title
      color: #fff;
      display: block;
      font-size: rem-calc(13px);
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: rem-calc(2px);
      padding: rem-calc(24px) rem-calc(25px);
    }
  }
  .tab-content {
    background-color: #fff;
    padding: rem-calc(30px) 5vw;
    @include breakpoint( $sm ) {
      padding: rem-calc(50px);
    }
  }
  .list-sitemap {
    li {
      margin-bottom: rem-calc(10px);
    }
    a {
      display: inline-block;
      padding-bottom: rem-calc(1px);
      border-bottom: rem-calc(1px) solid transparent;
      &:hover {
        color: $black;
        border-bottom-color: $black;
        text-decoration: none;
      }
    }
  }
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
  #sitemap-tabs {
    .list-tabs {
      display: none;
    }
    .r-tabs-accordion-title {
      background-color: #666;
      display: block;
      margin-bottom: rem-calc(1px);
      text-align: center;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        background-color: lighten(#666,7%);
      }
      &.r-tabs-state-active {
        background-color: $primary;
        &:hover {
          background-color: $primary;
        }
      }
      a {
        color: #fff;
        display: block;
        font-size: rem-calc(13px);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: rem-calc(2px);
        padding: rem-calc(24px) rem-calc(25px);
      }
    }
  }
}

/*  Required till end */
.r-tabs .r-tabs-nav {
  margin: 0;
  padding: 0;
}

.r-tabs .r-tabs-tab {
  display: inline-block;
  margin: 0;
  list-style: none;
}

.r-tabs .r-tabs-panel {
  padding: rem-calc(15px);
  display: none;
}

.r-tabs .r-tabs-accordion-title {
  display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
  display: block;
}