.grid {
  margin-bottom: rem-calc(100px);
  .row {

  }
  .col {
  }
  .inner-col {
    background-color: #eee;
    color: #999;
    padding: rem-calc( 25px ) rem-calc( 10px );
    font-weight: 700;
    text-align: center;
  }
}