@mixin btn {
	background: transparent;
	font-weight: 400;
	line-height: $input_line_height;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	display: inline-block;
	border: none;
	padding: 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-clip: padding-box;
	transition-property: background, color, border-color;
	transition-duration: .2s;
	&:hover {
		transition-duration: .1s;
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
}

@mixin btn-red {
	background: $primary;
	color: #fff;
	&:hover, &:active {
		background: darken($primary,7%);
		color: #fff;
	}
}

@mixin btn-black {
	background: $black;
	color: #fff;
	&:hover, &:active {
		background: darken($black,7%);
		color: #fff;
	}
}

@mixin btn-primary {
	@include btn-red;
}

@mixin btn-secondary {
	@include btn-black;
}

@mixin btn-xs {
	padding: 5px 10px;
	@include breakpoint( $desktop ) {
	  padding: rem-calc( 5px ) rem-calc( 10px );
	}
}

@mixin btn-sm {
	padding: 10px 20px;
	@include breakpoint( $desktop ) {
	  padding: rem-calc( 10px ) rem-calc( 20px );
	}
}

@mixin btn-md {
	padding: 15px 20px;
	@include breakpoint( $desktop ) {
	  padding: rem-calc( 15px ) rem-calc( 20px );
	}
}

@mixin btn-lg {
	padding: 20px 30px;
	@include breakpoint( $desktop ) {
	  padding: rem-calc( 20px ) rem-calc( 30px );
	}
}

@mixin btn-xlg {
	padding: 25px 40px;
	@include breakpoint( $desktop ) {
	  padding: rem-calc( 25px ) rem-calc( 40px );
	}
}

@mixin btn-input-clone( $bg_color ) {
	background-color: $bg_color;
	font-size: 1rem;
	line-height: $input_line_height;
	text-transform: uppercase;
	padding-top: $input_padding_x_xs;
	padding-bottom: $input_padding_x_xs;
	border: rem-calc( 1px ) solid $bg_color;
	@include breakpoint( $md ) {
	  padding-top: $input_padding_x_md;
		padding-bottom: $input_padding_x_md;
	}
}

@mixin btn-disabled {
	cursor: default;
  pointer-events: none;
  opacity: .3;
}