@import "rem"; // always first for input to work
@import "animations";
@import "background";
@import "buttons";
@import "fluid-typography";
@import "icons";
@import "input";
@import "keyframes";
@import "media-queries";
@import "scrollbars";
@import "fed";

@mixin pagination-links {
  background: #fff;
  color: #666;
  font-size: rem-calc(12px);
  line-height: 1;
  text-decoration: none;
  text-align: center;
  display: block;
  min-width: rem-calc(35px);
  padding: rem-calc(10px);
  box-shadow: 0 0 rem-calc(1px) rgba(0,0,0,.3);
}