// Make all slides equal height
.swiper-slide {
	height: auto;
}

/* ----------  Swiper Dot Pagination  ---------- */
.swiper-pagination-dot {
	all: unset; // overwrite default from swiper
	display: flex;
	justify-content: center;
	gap: rem-calc(10);

	span {
		all: unset; // overwrite default from swiper
		background-color: rgb(255 255 255 / 40%);
		display: inline-block;
		width: rem-calc(10);
		height: rem-calc(10);
		margin-inline-start: rem-calc(10);
		border-radius: 50%;
		position: relative;
		cursor: pointer;

		&.swiper-pagination-bullet-active {
			background-color: #fff;
			transition: 0.2s;
		}
	}
}

// .btn-prev, .btn-next {
//   text-align: center;
//   color: transparent;
//   font: 0/0 a;
//   width: 40px;
//   height: 40px;
//   float: left;
//   border: 1px solid #ccc;
//   &.swiper-button-disabled {
//     opacity: .5;
//     cursor: default;
//   }
//   &:before {
//     color: $color_primary;
//     font-size: 20px;
//   }
// }

// .btn-prev {
//   margin-inline-end: rem-calc( 10px );
//   &:before {
//     content: '\e616';
//   }
// }

// .btn-next {
//   &:before {
//     content: '\e617';
//   }
// }
