@use '../config/blocks' as *;
@use 'rem' as *;

@mixin stagger-animation($animation, $child, $interval: 100, $duration: 1s) {
	$delay: 0;

	visibility: visible;
	animation-name: $animation;
	animation-duration: $duration;
	animation-fill-mode: both;

	@for $i from 1 through $child {
		$delay: $delay + $interval;

		&:nth-child(#{$i}) {
			animation-delay: #{$delay}ms;
		}
	}
}

@mixin pseudo-underline(
	$space-above-line: rem-calc(1),
	$line-height: rem-calc(1),
	$text-color: currentColor,
	$line-color: currentColor,
	$hover-text-color: currentColor,
	$hover-line-color: currentColor
) {
	color: $text-color;
	padding-block-end: $space-above-line;
	position: relative;
	transition: color 0.2s $custom-ease;

	&::before,
	&::after {
		block-size: $line-height;
		content: '';
		inset-block-end: 0;
		inset-inline: 0;
		position: absolute;
	}

	&::before {
		background-color: $line-color;
	}

	&::after {
		background-color: $hover-line-color;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.3s $custom-ease;
	}

	&:hover,
	&:focus-visible {
		color: $hover-text-color;

		&::after {
			transform: scaleX(1);
			transform-origin: left;
		}
	}
}

@mixin animate-line-on-hover(
	$space-above-line: rem-calc(1),
	$pseudo-padding: 0,
	$line-height: rem-calc(1),
	$hover-text-color: currentColor,
	$line-color: currentColor
) {
	/* If text is wrapped in two lines, it stops working so avoid using it for larger text */
	padding-block-start: $pseudo-padding;
	padding-block-end: $space-above-line;
	margin-block-end: $pseudo-padding;
	position: relative;
	transition: color 0.2s $custom-ease;

	&::before {
		background-color: $line-color;
		block-size: $line-height;
		position: absolute;
		inset-inline: 0;
		inset-block-end: 0;
		transform: scaleX(0);
		transition: transform 0.3s $custom-ease;
		content: '';
		transform-origin: right center;
	}

	&::after {
		// pseudo padding at bottom
		inline-size: 100%;
		block-size: $pseudo-padding;
		position: absolute;
		inset-inline-start: 0;
		inset-block-end: $pseudo-padding * -1;
		content: '';
	}

	&:hover,
	&:focus-visible {
		color: $hover-text-color;

		&::before {
			transform: scaleX(1);
			transform-origin: left center;
		}
	}
}

@mixin animate-background-underline-on-hover(
	$text-color: currentColor,
	$background-start-color: currentColor,
	$background-end-color: currentColor
) {
	background-image: linear-gradient(to right,
			$background-start-color,
			$background-end-color);
	background-size: 0 rem-calc(2);
	background-position: left bottom;
	background-repeat: no-repeat;
	padding-block-end: rem-calc(2);
	transition: background-size 0.2s $custom-ease;

	&:hover,
	&:focus-visible {
		background-size: 100% rem-calc(2);
		color: $text-color;
	}
}
