@mixin btn {
	font-size: rem-calc(18);
	font-weight: 600;
	line-height: 1.3;
	display: flex;
	align-items: center;
	width: fit-content;
}

@mixin btn-input-clone($bg-color) {
	background-color: $bg-color;
	font-size: 1rem;
	line-height: $input-line-height;
	text-transform: uppercase;
	padding-block-start: $input-padding-y;
	padding-block-end: $input-padding-y;
	border: rem-calc(1) solid $bg-color;
	@include media-breakpoint-up(md) {
		padding-block-start: $input-padding-y-lg;
		padding-block-end: $input-padding-y-lg;
	}
}

@mixin btn-reset {
	background: transparent;
	color: $link-color;
	display: inline-block;
	padding: 0;
	margin: 0;
	border: 0;
	cursor: pointer;
}

@mixin btn-rarr {
	position: relative;

	svg {
		fill: currentcolor;
		width: rem-calc(24);
		height: rem-calc(24);
		margin-inline-start: rem-calc(20);
	}
}

// @mixin btn-primary {
// 	@include btn-green;
// }

@mixin btn-sm {
	padding: rem-calc(10) rem-calc(20);
}

@mixin btn-md {
	padding: rem-calc(10) rem-calc(20);
}

@mixin btn-lg {
	padding: rem-calc(10) rem-calc(20);
}
