%btn {
	font-size: rem-calc(16);
	font-weight: 600;
	line-height: 1.3;
	display: flex;
	align-items: center;
	justify-content: center;
	inline-size: fit-content;
	user-select: none;
	border: 0;
	span {
		text-box: trim-both cap alphabetic;
	}
}

@mixin btn-input-clone($bg-color) {
	background-color: $bg-color;
	font-size: 1rem;
	line-height: $input-line-height;
	text-transform: uppercase;
	padding-block-start: $input-padding-y;
	padding-block-end: $input-padding-y;
	border: rem-calc(1) solid $bg-color;
	@media (width >= $md) {
		padding-block-start: $input-padding-y-lg;
		padding-block-end: $input-padding-y-lg;
	}
}

@mixin btn-reset {
	background: transparent;
	color: $link-color;
	display: inline-block;
	padding: 0;
	margin: 0;
	border: 0;
	inline-size: unset;
	cursor: pointer;
}

@mixin btn-rarr {
	position: relative;

	svg {
		fill: currentcolor;
		inline-size: rem-calc(24);
		block-size: rem-calc(24);
		flex-shrink: 0;
		margin-inline-start: rem-calc(20);
	}
}

@mixin btn-primary {
	background-color: $primary;
	color: #fff;
}

@mixin btn-sm {
	block-size: rem-calc(36);
	padding-inline: rem-calc(20);
}

@mixin btn-md {
	block-size: rem-calc(44);
	padding-inline: rem-calc(20);
}

@mixin btn-lg {
	block-size: rem-calc(60);
	padding-inline: rem-calc(20);
}
