@use 'sass:map';

// Helper function to get breakpoint infix
@function breakpoint-infix($name) {
	$min: map.get($grid-breakpoints, $name);
	@return if($min !=0, '-#{$name}', '');
}

// Responsive containers that are 100% wide until a breakpoint
@each $breakpoint, $container-max-width in $container-max-widths {
	.container-#{$breakpoint} {
		@extend %container;
	}

	$breakpoint-value: map.get($grid-breakpoints, $breakpoint);

	@media (width >=#{$breakpoint-value}) {
		%responsive-container-#{$breakpoint} {
			max-inline-size: $container-max-width;
		}

		// Extend each breakpoint which is smaller or equal to the current breakpoint
		$extend-breakpoint: true;

		@each $name, $width in $grid-breakpoints {
			@if $extend-breakpoint {
				.container#{breakpoint-infix($name)} {
					@extend %responsive-container-#{$breakpoint};
				}

				// Once the current breakpoint is reached, stop extending
				@if $breakpoint ==$name {
					$extend-breakpoint: false;
				}
			}
		}
	}
}