%container {
	inline-size: 100%;
	padding-inline-end: fluid(20, 40);
	padding-inline-start: fluid(20, 40);
	margin-inline-end: auto;
	margin-inline-start: auto;
}

%fill {
	display: block;
	inline-size: 100%;
	block-size: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

%fill-cover {
	object-fit: cover;
	@extend %fill;
}
