// Make all slides equal height
/* ========================================== */
.swiper-slide {
  height: auto;
}

/*----------  Swiper Dot Pagination  ----------*/
.swiper-dot-pagination {
  span {
    background-color: rgba( 255,255,255,.4 );
    display: inline-block;
    width: rem-calc( 10px );
    height: rem-calc( 10px );
    margin-left: rem-calc( 10px );
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    &.swiper-pagination-bullet-active {
      background-color: #fff;
      transition: .2s;
    }
  }
}

/*----------  Swiper Arrow Navigation  ----------*/
.swiper-arrow-navigation {
  .btn {
    color: $primary;
    position: absolute;
    transition: .2s ease-in-out;
    &.swiper-button-disabled {
      opacity: .4;
      pointer-events: none;
    }
    &:after {
      @include icon-font-properties;
      content: '';
      display: block;
      font-size: rem-calc( 36px );
    }
    &:hover {
      &:after {
        animation: leftRightBounce 1s infinite ;
      }
    }
  }
  .btn-next {
    right: rem-calc( 15px );
    &:before {
      left: 0;
      transform: translateX(100%);
    }
    &:after {
      content: '$i_arrow_right';
    }
  }
  .btn-prev {
    left: rem-calc( 15px );
    &:before {
      right: 0;
      transform: translateX(100%);
    }
    &:after {
      content: '$i_arrow_left';
    }
  }
  @include media-breakpoint-up( sm ) {
    .btn {
      &:after {
        font-size: rem-calc( 60px );
      }
    }
  }
}


/*----------  Swiper Arrow Navigation  ----------*/
.swiper-navigation {
  display: flex;
}

.swiper-button-prev, .swiper-button-next {
  width: rem-calc( 52px );
  height: rem-calc( 52px );
  line-height: rem-calc( 52px );
  border: rem-calc( 2px ) solid red;
  border-radius: 50%;
  position: relative;
  margin: 0;
  left: auto;
  right: auto;
  top: auto;
  z-index: 10;
  transition: .2s ease-out;
  &:after {
    font-size: rem-calc( 18px );
    color: red;
  }
}

.swiper-button-prev {
  margin-right: rem-calc( 8px );
  @include media-breakpoint-up( md ) {
    margin-right: rem-calc( 16px );
  }
}

.swiper-button-disabled {
  border-color: black;
  &:after {
    color: black;
  }
}

.swiper-navigation-floating {
  .swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
}

/*----------  Swiper Arrow Navigation  ----------*/
.swiper-navigation {
  display: flex;
}

.swiper-button-prev, .swiper-button-next {
  width: rem-calc( 52px );
  height: rem-calc( 52px );
  line-height: rem-calc( 52px );
  border: rem-calc( 2px ) solid red;
  border-radius: 50%;
  position: relative;
  margin: 0;
  left: auto;
  right: auto;
  top: auto;
  z-index: 10;
  transition: .2s ease-out;
  &:after {
    font-size: rem-calc( 18px );
    color: red;
  }
}

.swiper-button-prev {
  margin-right: rem-calc( 8px );
  @include media-breakpoint-up( md ) {
    margin-right: rem-calc( 16px );
  }
}

.swiper-button-disabled {
  border-color: black;
  &:after {
    color: black;
  }
}

.swiper-navigation-floating {
  .swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
}


// .btn-prev, .btn-next {
//   text-align: center;
//   color: transparent;
//   font: 0/0 a;
//   width: 40px;
//   height: 40px;
//   float: left;
//   border: 1px solid #ccc;
//   &.swiper-button-disabled {
//     opacity: .5;
//     cursor: default;
//   }
//   &:before {
//     color: $color_primary;
//     font-size: 20px;
//   }
// }

// .btn-prev {
//   margin-right: rem-calc( 10px );
//   &:before {
//     content: '\e616';
//   }
// }

// .btn-next {
//   &:before {
//     content: '\e617';
//   }
// }