// Make all slides equal height
/* ========================================== */
.swiper-slide {
  height: auto;
}

/*----------  Swiper Dashed Pagination  ----------*/
.swiper-pagination.swiper-dashed-pagination { // specificity issue
	bottom: 0; // overwrite default
	position: relative; // overwrite default
	&.dark {
		span {
			background-color: red;
		}
	}
	span {
		background-color: #fff;
		display: inline-block;
		width: rem-calc( 40px );
		height: rem-calc( 4px );
		margin-left: rem-calc( 5px );
		border-radius: 0;
		position: relative;
		cursor: pointer;
		&:not(:last-child) {
			margin: 0 rem-calc( 10px ) 0 0;
		}
		&.swiper-pagination-bullet-active {
			opacity: 1;
			transition: .2s;
		}
	}
	@include media-breakpoint-up( md ) {
		span {
			width: rem-calc( 70px );
		}
	}
}

/*----------  Swiper Arrow Navigation - Absolute end at the edge  ----------*/
// .swiper-navigation-absolute {
//   .swiper-button-prev, .swiper-button-next {
//     color: $green;
//     &::after {
//       @include icon-font-properties;
//       font-size: rem-calc( 48px );
//     }
//   }
//   .swiper-button-prev {
//     right: auto;
//     left: rem-calc( 50px );
//   }
//   .swiper-button-next {
//     right: rem-calc( 50px );
//     left: auto;
//   }
// }

// hide the buttons when not enough slides
.swiper-button-lock {
	display: none !important;
}