// as per project
$blue: #1f2261;

// required, change values as per project
$primary: #1f2261;
$secondary: #fdba00;
$success: #33b469;
$info: #ebbc2e;
$warning: #ebbc2e;

// typography
$body-color: #393939;
$heading-color: inherit;
$link-color: $body-color;
$link-hover-color: inherit;
