$rem-base-unitless: strip-unit($rem-base);
$grid-breakpoints: (
	"xs": 0,
	"ph": calc(375 / $rem-base-unitless) * 1rem,
	"sm": calc(576 / $rem-base-unitless) * 1rem,
	"md": calc(768 / $rem-base-unitless) * 1rem,
	"lg": calc(992 / $rem-base-unitless) * 1rem,
	"xl": calc(1200 / $rem-base-unitless) * 1rem,
	"xxl": calc(1400 / $rem-base-unitless) * 1rem,
	"xxxl": calc(1600 / $rem-base-unitless) * 1rem
);
$container-max-widths: (
	// max-width value needs to be less than the (breakpoint value(xxl) - $container-padding)
	// any property added here should also be added to grid breakpoints
	ph: 100vw,
	sm: 100vw,
	md: 95vw,
	lg: 93vw,
	xl: 93vw,
	xxl: 93vw,
	xxxl: 90rem
);
$section-spacings: (
	"small": (
		20,
		40
	),
	"normal": (
		40,
		80
	),
	"large": (
		70,
		140
	),
	"xlarge": (
		90,
		160
	)
);
