$grid-breakpoints: (
	"xs": 0,
	"ph": calc(375 / 16) * 1rem,
	"sm": calc(576 / 16) * 1rem,
	"md": calc(768 / 16) * 1rem,
	"lg": calc(992 / 16) * 1rem,
	"xl": calc(1200 / 16) * 1rem,
	"xxl": calc(1400 / 16) * 1rem,
	"xxxl": calc(1600 / 16) * 1rem
);
$container-max-widths: (
	// max-width value needs to be less than the (breakpoint value(xxl) - $container-padding)
	// any property added here should also be added to grid breakpoints
	ph: 100vw,
	sm: 100vw,
	md: 95vw,
	lg: 93vw,
	xl: 93vw,
	xxl: 93vw,
	xxxl: 90rem
);
