.faqs-section {
	.section-heading {
		text-align: center;
		margin-bottom: rem-calc(36);
	}

	.accordion {
		border-bottom: rem-calc(1) solid #343434;

		&:first-child {
			.accordion-heading {
				// padding-block-start: unset;

				&::before,
				&::after {
					top: fluid(30, 36);
				}
			}
		}

		&.js-active {
			.accordion-heading {
				&::before,
				&::after {
					transform: rotate(180deg);
				}

				&::after {
					opacity: 0;
				}
			}
		}
	}

	.accordion-heading {
		font-family: $heading-font-family;
		font-size: fluid(16, 24);
		font-weight: 700;
		line-height: 1.3;
		padding-block: fluid(20, 24);
		padding-inline-end: rem-calc(50);
		margin-bottom: 0;
		position: relative;
		cursor: pointer;
		user-select: none;

		&::before,
		&::after {
			background: #000;
			display: block;
			width: rem-calc(15);
			height: rem-calc(2);
			position: absolute;
			top: fluid(30, 36);
			right: rem-calc(3);
			transition: 0.25s ease-out;
			content: '';
		}

		&::after {
			transform: rotate(90deg);
		}
	}

	.accordion-content {
		.inner-block {
			padding-bottom: fluid(20, 24);
		}
	}

	// Required
	.accordion-content {
		max-height: 0;
		transition: max-height 0.25s ease-out;
		overflow: hidden;
		will-change: max-height;
	}

	.btn-cta {
		margin: rem-calc(40) auto 0;
	}
}
