.flexible-editor-section {
	.text-block {
		margin-bottom: rem-calc(24);
	}

	.media-block {
		&:not(:first-child) {
			margin-top: rem-calc(32);
		}

		&:not(:last-child) {
			margin-bottom: rem-calc(32);
		}

		position: relative;
		overflow: hidden;

		.btn-dialog-open {
			position: absolute;
			inset: 0;
			z-index: 1;

			svg {
				color: $primary;
				max-width: fluid(44, 80);
				opacity: 0.8;
			}

			&:hover,
			&:focus-visible {
				svg {
					animation: play 0.3s ease-out;
				}
			}
		}

		.dialog {
			background-color: #333;
			max-width: 75%;
			padding: 0;
			margin: auto;
			border: 0;
			z-index: 10;
			transition: 0.25s ease-out;
			overflow: hidden;
			user-select: none;

			// overflow: hidden;

			&::backdrop {
				background: rgb(0 0 0 / 80%);
			}

			.btn-dialog-close {
				background-color: rgb(0 0 0 / 50%);
				color: #fff;
				font-size: rem-calc(20);
				display: block;
				align-items: center;
				justify-content: center;
				width: rem-calc(40);
				height: rem-calc(40);
				border-radius: rem-calc(5);
				position: absolute;
				inset-inline-end: rem-calc(15);
				inset-block-start: rem-calc(15);
				z-index: 1;

				svg {
					width: rem-calc(24);
				}
			}

			video,
			iframe {
				width: 75vw;
			}
		}

		video,
		iframe {
			aspect-ratio: 16/9;
			width: 100%;
		}
	}

	.heading-block {
		margin-bottom: rem-calc(16);
	}

	.checklist-block {
		margin-block: rem-calc(32);

		.list-checklist {
			background-color: #fff1ee;
			gap: fluid(24, 48);
			padding: rem-calc(20) rem-calc(24);
			column-count: 2;
			column-rule: rem-calc(1) solid #333;

			@include list-unstyled;

			> li {
				display: flex;
				gap: rem-calc(12);
				margin-bottom: rem-calc(16);
				position: relative;

				&::before {
					background: url('images/check.svg') no-repeat center;
					display: block;
					flex-shrink: 0;
					width: rem-calc(20);
					height: rem-calc(21);
					content: '';
				}
			}
		}
	}

	.reviews-block {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem-calc(16);
		margin-bottom: rem-calc(32);

		.review {
			padding: rem-calc(12) rem-calc(16);
			border: rem-calc(1) solid #666;
		}

		blockquote {
			color: #222;
			font-weight: 500;
		}

		.name {
			color: #999;
			font-size: rem-calc(14);
			display: flex;
			gap: rem-calc(4);

			&::before {
				flex-shrink: 0;
				content: '\2014';
			}
		}
	}
}
