.hero-slider-section {
	position: relative;

	.img-cover-block {
		height: calc(100vh - var(--header-height, rem-calc(65)));

		.img-desktop.has-mobile {
			display: none;
		}

		@include media-breakpoint-up(md) {
			.img-mobile {
				display: none;
			}

			.img-desktop.has-mobile {
				display: block;
			}
		}
	}

	.swiper-pagination-dot {
		position: absolute;
		bottom: rem-calc(24);
		z-index: 10;
	}
}
