.hero-slider-section {
	position: relative;

	.swiper-slide {
		block-size: calc(100vh - var(--header-height, rem-calc(65)));
		position: relative;
	}

	.img-cover-block {
		position: absolute;
		inset: 0;
	}

	.swiper-pagination-dot {
		position: absolute;
		bottom: rem-calc(24);
		z-index: 10;
	}
}
