.logo-slider-section {
	background-color: #f7f3f0;

	.logo-slider {
		padding-block: fluid(20, 40);
		overflow: visible;
	}

	.swiper-wrapper {
		transition-timing-function: linear !important;
	}

	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		width: auto;
		user-select: none;

		.logo-block {
			img {
				width: fluid(100, 150);
			}
		}
	}
}
