.visual-editor-section {
	&.bg-offwhite {
		background-color: #ddd;
		color: #fff;
	}

	&.layout-small {
		.inner-container {
			margin: 0 auto;
			max-inline-size: rem-calc(600);
		}
	}

	&.layout-medium {
		.inner-container {
			margin: 0 auto;
			max-inline-size: rem-calc(800);
		}
	}

	&.layout-large {
		.inner-container {
			margin: 0 auto;
			max-inline-size: rem-calc(1000);
		}
	}

	a:not([class]) {
		color: blue;
	}
}
