.fixed-and-fluid-column-2 {
	@include clearfix;
	.fluid-col {
		@include bg-cover;
	}
	.fixed-col {
		padding: 0 5vw;
	}
	@include media-breakpoint-down( sm ) {
		.fixed-col {
			margin-bottom: rem-calc(50px);
		}
		.fluid-col {
			img {
				display: block;
				margin: 0 auto;
			}
		}
	}
	@include breakpoint( $md ) {
		padding: rem-calc(70px) 0;
		.fluid-col {
			float: left;
			width: 50%;
			text-align: right;
		}
		.fixed-col {
			float: left;
			width: 50%;
		}
	}
	@include media-breakpoint-only( md ) {
		.fluid-col {
			background: none !important;
		}
	}
	@include breakpoint( $lg ) {
		@include display-flex;
		@include flex-direction( column );
		padding: 0;
		.flex {
			@include display-flex;
		}
		.fixed-col {
			@include display-flex;
			@include flex-direction( column );
			@include justify-content( center );
		}
	}
}