.fullscreen-slider {
  .slick-slide {
    @include bg-cover;
    width: 100vw;
    min-height: 100vh;
    @include display-flex;
    @include align-items( center );
    position: relative;
    overflow: hidden;
    &:before {
      content: '';
      background-color: rgba(0,0,0,.5);
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  .container {
    color: #fff;
  	text-align: center;
    position: relative;
    z-index: 2;
  }
  .section-heading {
  	color: #fff;
		font-size: rem-calc(60px);
		text-align: center;
  }
}

.fullscreen-slider-section {
  .slick-arrow {
    @include btn;
    @include hide-text();
    background: rgba(0,0,0,.5);
    width: rem-calc(50px);
    height: rem-calc(50px);
    position: absolute;
    top: 50%;
    @include translateY(-50%);
    z-index: 2;
    &:before {
      content: '';
      @include icon-font-properties;
      font-size: rem-calc(26px);
      color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      @include translate( -50%, -50% );
    }
    &:hover {
      background: #000;
    }
    &.slick-next {
      right: 0;
      &:before {
        content: $i_chevron_right;
      }
    }
    &.slick-prev {
      left: 0;
      &:before {
        content: $i_chevron_left;
      }
    }
  }
  .slick-slider-dots {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: rem-calc(30px);
    ul {
      @include list-unstyled;
      @include display-flex;
      @include justify-content( center );
      margin-bottom: 0;
    }
    li {
      padding: 0 rem-calc(10px);
      margin-bottom: 0;
      &.slick-active {
        button {
          background-color: $primary;
        }
      }
    }
    button {
      @include hide-text;
      background-color: rgba(0,0,0,.5);
      width: rem-calc(15px);
      height: rem-calc(15px);
      border-radius: 50%;
      border: none;
      padding: 0;
      cursor: pointer;
    }
  }
}