.full-width-cta-section {
  @include display-flex;
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(center);
  height: rem-calc(450px);
  .content-block {
    @include media-breakpoint-up( lg ) {
      width: 80%;
      margin: 0 auto;
    }
  }
}