.alert {
	background-color: #ddd;
	padding: rem-calc(15);
	border: rem-calc(1) solid #ddd;
}

.alert-info {
	background-color: #ffffd9;
	border: rem-calc(1) solid #ffffd9;
}

.alert-error {
	background-color: #ffd9d9;
	border: rem-calc(1) solid #ffd9d9;
}

.alert-success {
	background-color: #dbffd9;
	border: rem-calc(1) solid #dbffd9;
}
