.alert {
	padding: rem-calc(15px);
	border: rem-calc(1px) solid #ddd;
	background-color: #ddd;
}

.alert-info {
	border: rem-calc(1px) solid #ffffd9;
	background-color: #ffffd9;
}

.alert-error {
	border: rem-calc(1px) solid #ffd9d9;
	background-color: #ffd9d9;
}

.alert-success {
	border: rem-calc(1px) solid #dbffd9;
	background-color: #dbffd9;
}
