.img-fluid, .img-responsive {
	width: auto;
  height: auto;
}

// Custom
// align classes are set by wp on images inside editor.
////////////////////////////////////////////////
.alignnone,
.alignleft,
.alignright,
.aligncenter,
.wp-post-image {
  width: auto;
  height: auto;
}