.img-fluid {
  max-width: 100%;
  height: auto;
}

// Custom
.img-responsive,
.alignnone,
.alignleft,
.alignright,
.aligncenter,
.wp-post-image {
	// align classes are set by wp on images inside editor.
  width: auto;
  height: auto;
}