/*! rtl:begin:ignore */

// Phone numbers
.phone-rtl {
	display: inline-block;

	/*! rtl:ignore */
	direction: ltr;

	/*! rtl:ignore */
	text-align: right;
}

// Table
table th,
table td {
	/*! rtl:ignore */
	text-align: start;
}

/*! rtl:end:ignore */
