.gform_wrapper.gravity-theme {
	// required for specificity
	.gform-body {
		.gfield {
			margin-bottom: rem-calc(15px);

			&.spacer {
				display: none;
			}
		}

		// .gfield_required {
		// 	position: relative;
		//   .gfield_required {
		// 		display: none;
		// 	}
		// 	&::after {
		// 		display: inline-block;
		// 		content: '*';
		// 		font-size: rem-calc( 16px );
		// 		margin-inline-start: rem-calc( 5px );
		// 	}
		// }
		.gfield_label {
			color: #211f21;
		}

		.gfield-select {
			display: flex;
			flex-wrap: wrap;

			.ginput_container {
				display: flex;
				width: 100%;
			}
		}

		.gfield.gf-list-enhanced {
			.gfield_checkbox {
				input {
					display: none;
				}

				label {
					line-height: 1.2;
					position: relative;
					padding-left: rem-calc(22px);
					margin-bottom: rem-calc(8px);

					&::before {
						content: "";
						display: block;
						background-color: #fff;
						width: rem-calc(15px);
						height: rem-calc(15px);
						border: rem-calc(1px) solid #999;
						position: absolute;
						left: 0;
						top: 0;
						border-radius: rem-calc(3px);
					}
				}

				input[type="checkbox"] {
					&:checked {
						+ label {
							&::before {
								background-color: $primary;
								border-color: $primary;
							}
						}
					}
				}
			}
		}

		.gf_list_2col,
		.gf_list_3col,
		.gf_list_4col,
		.gf_list_5col,
		.gf_list_inline,
		.gf-list-2col,
		.gf-list-3col,
		.gf-list-4col,
		.gf-list-5col,
		.gf-list-inline {
			.gfield_checkbox li,
			.gfield_radio li,
			.gfield-checkbox li,
			.gfield-radio li {
				display: inline-block;
				padding-right: 3rem;
			}
		}

		.gf_list_2col,
		.gf-list-2col {
			.gfield_checkbox li,
			.gfield_radio li,
			.gfield-checkbox li,
			.gfield-radio li {
				width: 100%;
				@include media-breakpoint-up(sm) {
					width: 50%;
				}
			}
		}

		.gf_list_3col,
		.gf-list-3col {
			.gfield_checkbox li,
			.gfield_radio li,
			.gfield-checkbox li,
			.gfield-radio li {
				width: 100%;
				@include media-breakpoint-up(md) {
					width: 33.333333%;
				}
			}
		}

		.gf_list_4col,
		.gf-list-4col {
			.gfield_checkbox li,
			.gfield_radio li,
			.gfield-checkbox li,
			.gfield-radio li {
				width: 100%;
				@include media-breakpoint-up(sm) {
					width: 50%;
				}
				@include media-breakpoint-up(md) {
					width: 25%;
				}
			}
		}

		.gf_list_5col,
		.gf-list-5col {
			.gfield_checkbox li,
			.gfield_radio li,
			.gfield-checkbox li,
			.gfield-radio li {
				width: 100%;
				@include media-breakpoint-up(sm) {
					width: 50%;
				}
				@include media-breakpoint-up(md) {
					width: 20%;
				}
			}
		}

		.ginput_container_select {
			@include custom-select-block;
		}

		input[type="text"],
		input[type="tel"],
		input[type="email"],
		select,
		textarea {
			color: $body-color;
			font-size: rem-calc(16px);
			padding: 0 rem-calc(20px);
			height: rem-calc(44px);
			line-height: rem-calc(44px);
			border: rem-calc(1px) solid #c4c4c4;
			border-radius: 0;

			&::placeholder {
				color: #c4c4c4;
			}

			&:focus {
				color: $black;
			}
		}

		textarea {
			line-height: 1.4;
			padding: rem-calc(12px) rem-calc(20px);
			height: auto;
		}

		select {
			appearance: none;
		}

		.chosen-container-single {
			display: flex;

			&.chosen-container-active {
				.chosen-single {
					color: $black;
				}
			}
		}

		// .chosen-search {
		// 	display: none;
		// }
		.chosen-search-input {
			background: none;
			height: rem-calc(30px) !important;
			line-height: rem-calc(30px) !important;
			padding: rem-calc(8px) !important;
		}

		.chosen-single {
			background: #fff;
			color: #c4c4c4;
			display: flex;
			width: 100%;
			border: rem-calc(1px) solid #c4c4c4;
			height: auto;
			padding-left: rem-calc(20px);
			align-items: center;
			box-shadow: none;

			div {
				display: none;
			}
		}

		.chosen-results {
			> li {
				background: #eee;
				color: $body-color;
				padding: rem-calc(8px);
				border-bottom: rem-calc(1px) solid rgba(#000, 0.05);

				&.highlighted {
					background: $teal;
				}
			}
		}

		.gfield_validation_message {
			// individual fields error
			font-size: rem-calc(14px);
			line-height: 1.3;
			padding: rem-calc(8px) rem-calc(15px);
			border: rem-calc(1px) solid darken(#fff9f9, 5%);
			margin-top: rem-calc(5px);
		}
	}

	.gform_footer {
		margin: 0;
		padding: 0;

		button[type="submit"] {
			@include btn;
			@include btn-rarr;

			border: rem-calc(2px) solid $primary;

			&:hover,
			&:focus {
				background-color: $primary;
				color: #fff;
			}
		}
	}

	> .gform_validation_errors {
		// form sumbmission error
		border: 0;
		padding: 0;
		margin: 0;
		box-shadow: none;
		margin-bottom: rem-calc(30px);

		.gform_submission_error {
			background-color: red;
			color: #fff;
			font-size: rem-calc(18px);
			line-height: 1.3;
			text-align: center;
			letter-spacing: normal;
			padding: rem-calc(15px) rem-calc(20px);

			.gform-icon {
				display: none;
			}
		}
	}
	@media only screen and (min-width: 768) {
		padding: 0;

		.gform-body {
			input[type="text"],
			input[type="tel"],
			input[type="email"],
			select,
			textarea {
				// height: rem-calc( 60px );
				// line-height: rem-calc( 60px );
			}

			textarea {
			}
		}
	}
}

.gform_confirmation_message {
	background: $teal;
	color: #fff;
	font-size: rem-calc(20px);
	line-height: 1.3;
	text-align: center;
	padding: rem-calc(10px) rem-calc(30px);
}
