#breadcrumbs {
  font-size: rem-calc( 14px );
  padding: rem-calc( 8px ) 0;
  border-style: solid;
  border-width: rem-calc( 1px ) 0;
  border-color: #e5e5e5;
  margin-bottom: rem-calc( 20px );
  a {
    display: inline-block; // fix when links span multiple lines
    text-decoration: none;
    padding-right: rem-calc( 17px );
    position: relative;
    &:after {
      content: '/';
      color: $body-color;
      position: absolute;
      right: rem-calc( 4px );
    }
  }
  strong,
  .breadcrumb_last {
    font-weight: 700;
  }
}