.site-header {
	background-color: #eee;
	padding-block: rem-calc(10);
	position: sticky;
	inset-block-start: 0;
	z-index: 99;
	box-shadow: 0 rem-calc(4) rem-calc(12) 0 rgb(0 0 0 / 4%);
	transition: 0.3s ease-out;
	will-change: transform;

	&.js-user-scroll-down {
		transform: translateY(-100%);
	}

	.container-fluid,
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.skip-link {
	text-transform: uppercase;
	margin-inline: auto;
	position: fixed;
	inset-block-start: rem-calc(-200);
	inset-inline: 0;

	&:focus-visible {
		inset-block-start: 0;
	}
}

.header-logo {
	display: flex;
	align-items: center;
	inline-size: rem-calc(100);
	margin-block-end: 0;
	position: relative;

	svg,
	img {
		aspect-ratio: 100/125;
		inline-size: 100%;
	}
}

.header-nav-toggle {
	background: red;
	color: #fff;
	text-decoration: none;
	display: block;
	float: right;
	padding: rem-calc(10) rem-calc(15) rem-calc(10) rem-calc(50) !important;
	position: relative;

	@include media-breakpoint-up(lg) {
		display: none;
	}

	.i-menu {
		font-size: rem-calc(24);
		line-height: rem-calc(24);
		position: absolute;
		inset-inline-start: rem-calc(15); // same as padding right
		inset-block-start: 50%;
		transform: translateY(-50%);
	}
}

.header-nav-close {
	background: red;
	text-decoration: none;
	padding: rem-calc(20);
	border: 0;
	position: absolute;
	inset-inline-end: 0;
	inset-block-start: 0;

	&:hover,
	&:focus-visible {
		background-color: #fff;
	}

	@include media-breakpoint-up(lg) {
		display: none;
	}
}

.header-search-form {
	background-color: #fff;
	padding-block: fluid(24, 50);
	border-block-start: rem-calc(1) solid #ddd;
	position: fixed;
	inset-block-start: fluid(55, 62, 'md');
	z-index: 99;
	opacity: 0;
	transition: 0.25s ease-out;
	inset-inline: 0;
	pointer-events: none;

	&.js-active {
		opacity: 1;
		pointer-events: auto;
	}
}
