.site-header {
	background-color: #eee;
	padding-block: rem-calc(10) rem-calc(10);
	transition: 0.3s ease;

	&.js-fixed {
		position: sticky;
		top: 0;
		z-index: 99;
	}

	.container-fluid {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.skip-link {
	text-transform: uppercase;
	margin-inline: auto;
	position: fixed;
	top: rem-calc(-200);
	right: 0;
	left: 0;

	&:focus {
		top: 0;
	}
}

.header-logo {
	display: flex;
	align-items: center;
	width: rem-calc(100);
	margin-bottom: 0;
	position: relative;

	svg,
	img {
		aspect-ratio: 100/125;
		width: 100%;
	}
}

.header-nav-toggle {
	background: red;
	color: #fff;
	text-decoration: none;
	display: block;
	float: right;
	padding: rem-calc(10) rem-calc(15) rem-calc(10) rem-calc(50) !important;
	position: relative;
	@include media-breakpoint-up(lg) {
		display: none;
	}

	.i-menu {
		font-size: rem-calc(24);
		line-height: rem-calc(24);
		position: absolute;
		top: 50%;
		left: rem-calc(15); // same as padding right
		transform: translateY(-50%);
	}
}

.header-nav-close {
	background: red;
	text-decoration: none;
	padding: rem-calc(20);
	border: 0;
	position: absolute;
	top: 0;
	right: 0;

	&:hover,
	&:focus {
		background-color: #fff;
	}
	@include media-breakpoint-up(lg) {
		display: none;
	}
}

.header-search-form {
	background-color: #fff;
	padding-block: fluid(24, 50);
	border-top: rem-calc(1) solid #ddd;
	position: fixed;
	top: fluid(55, 62, 'md');
	right: 0;
	left: 0;
	z-index: 99;
	opacity: 0;
	transition: 0.25s ease-out;
	pointer-events: none;

	&.js-active {
		opacity: 1;
		pointer-events: auto;
	}
}
