/* ==============================
=            Mobile            =
============================== */
$mobile-sidebar-bg-color: #ddd;

/* ----------  Parent Menu  ---------- */

$mobile-parent-menu-link-bg-color: transparent;
$mobile-parent-menu-link-color: green;
$mobile-parent-menu-link-hover-bg-color: rgba(#000, 0.1);
$mobile-parent-menu-link-hover-color: green;
$mobile-parent-menu-item-font-size: rem-calc(24);
$mobile-parent-menu-item-padding-block: rem-calc(13);
$mobile-parent-menu-item-padding-inline: rem-calc(20);
$mobile-parent-menu-current-item-link-bg-color: green;
$mobile-parent-menu-current-item-link-color: #fff;
$mobile-parent-menu-dropdown-bg-color: #000;
$mobile-parent-menu-dropdown-icon-color: green;
$mobile-parent-menu-dropdown-hover-bg-color: #fff;
$mobile-parent-menu-dropdown-hover-icon-color: green;

/* Sub Menu */
$mobile-sub-menu-font-size: rem-calc(18);
$mobile-sub-menu-bg-color: teal;
$mobile-sub-menu-link-bg-color: transparent;
$mobile-sub-menu-link-hover-bg-color: rgba(#000, 0.5);
$mobile-sub-menu-link-color: green;
$mobile-sub-menu-link-hover-color: #000;
$mobile-sub-menu-current-item-link-bg-color: blue;
$mobile-sub-menu-current-item-link-color: #fff;
$mobile-sub-menu-link-padding-block: rem-calc(13);

// usually this is same as parent menu
$mobile-sub-menu-link-padding-inline: rem-calc(20);

.header-nav {
	ul {
		@include list-unstyled;
	}

	li {
		margin-block-end: 0;
	}

	a {
		text-decoration: none;
		display: block;
		block-size: 100%;
	}

	@include media-breakpoint-up($menu-breakpoint) {
		float: right;
	}

	@include media-breakpoint-down($menu-breakpoint) {
		background-color: $mobile-sidebar-bg-color;
		inline-size: 100%;
		block-size: 100vh;
		padding: rem-calc(90) 0 rem-calc(40);
		position: fixed;
		inset: 0;
		z-index: 9999;
		transform: translateX(-100%);
		transition: 350ms transform cubic-bezier(0.465, 0.183, 0.153, 0.946);
		overflow: auto;
		overscroll-behavior: contain; // avoid scroll chaining

		&.js-active {
			transform: translateX(0);
		}
	}
}

.header-nav-parent-menu {
	@include media-breakpoint-down($menu-breakpoint) {
		> li {
			> a {
				background-color: $mobile-parent-menu-link-bg-color;
				color: $mobile-parent-menu-link-color;
				font-size: $mobile-parent-menu-item-font-size;
				text-align: center;
				text-decoration: none;
				display: block;
				padding: $mobile-parent-menu-item-padding-block
					$mobile-parent-menu-item-padding-inline;
				position: relative;

				&:hover,
				&:focus-visible {
					background: $mobile-parent-menu-link-hover-bg-color;
					color: $mobile-parent-menu-link-hover-color;
				}
			}
		}

		> li.current-page-ancestor > a,
		> li.current-menu-parent > a,
		> li.current-menu-item > a {
			background: $mobile-parent-menu-current-item-link-bg-color;
			color: $mobile-parent-menu-current-item-link-color;
		}

		// Submenu
		// Submenu
		> li.menu-item-has-children {
			position: relative;

			&.js-active {
				> a {
					span {
						transform: rotate(180deg);

						&::after {
							background-color: $mobile-parent-menu-dropdown-hover-icon-color;
						}
					}
				}

				.sub-menu {
					visibility: visible;
					block-size: auto;
					position: relative;
				}
			}
		}

		.menu-item-has-children {
			> a {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: rem-calc(12);
				position: relative;

				span {
					background: $mobile-parent-menu-dropdown-bg-color;
					display: inline-block;
					inline-size: rem-calc(20);
					height: rem-calc(20);
					position: relative;
					transition: 0.2s $custom-ease;

					&::after {
						aspect-ratio: 6/4;
						background-color: $mobile-parent-menu-dropdown-icon-color;
						inline-size: rem-calc(10);
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						content: '';
						clip-path: polygon(
							0% 0%,
							20% 0%,
							50% 50%,
							80% 0%,
							100% 0%,
							50% 80%
						);
					}

					&:hover,
					&:focus-visible {
						&::after {
							background-color: $mobile-parent-menu-dropdown-hover-icon-color;
						}
					}
				}
			}
		}
	}
}

.header-nav .sub-menu {
	@include media-breakpoint-down($menu-breakpoint) {
		background: $mobile-sub-menu-bg-color;
		visibility: hidden;
		block-size: 0;

		.sub-menu {
			background-color: #fff;
		}

		> li {
			text-align: center;

			> a {
				background-color: $mobile-sub-menu-link-bg-color;
				color: $mobile-sub-menu-link-color;
				font-size: $mobile-sub-menu-font-size;
				letter-spacing: rem-calc(1);
				text-decoration: none;
				text-transform: uppercase;
				display: block;
				padding: $mobile-sub-menu-link-padding-block
					$mobile-sub-menu-link-padding-inline;

				&:hover,
				&:focus-visible {
					background: $mobile-sub-menu-link-hover-bg-color;
					color: $mobile-sub-menu-link-hover-color;
				}
			}
		}

		> li.current-menu-item > a {
			background-color: $mobile-sub-menu-current-item-link-bg-color;
			color: $mobile-sub-menu-current-item-link-color;
		}
	}
}

/* ===============================
=            Desktop            =
=============================== */

/* ----------  Parent Menu  ---------- */
$desktop-parent-menu-link-bg-color: #ccc;
$desktop-parent-menu-link-color: #000;
$desktop-parent-menu-link-hover-bg-color: green;
$desktop-parent-menu-link-hover-color: #fff;
$desktop-parent-menu-item-padding-block: rem-calc(15);
$desktop-parent-menu-item-padding-inline: rem-calc(20);
$desktop-parent-menu-current-item-link-bg-color: red;
$desktop-parent-menu-current-item-link-color: #fff;
$desktop-parent-menu-dropdown-icon-color: black;
$desktop-parent-menu-dropdown-icon-hover-color: #fff;
$desktop-parent-menu-dropdown-icon-border: rem-calc(5);
$desktop-parent-menu-space-between-text-and-arrow: rem-calc(10);

/* ----------  Sub Menu  ---------- */
$desktop-sub-menu-width: rem-calc(250);
$desktop-sub-menu-link-bg-color: black;
$desktop-sub-menu-link-color: #fff;
$desktop-sub-menu-link-hover-bg-color: orange;
$desktop-sub-menu-link-hover-color: $desktop-sub-menu-link-color;
$desktop-sub-menu-current-item-link-bg-color: purple;
$desktop-sub-menu-current-item-link-color: #fff;
$desktop-sub-menu-font-size: rem-calc(16);
$desktop-sub-menu-link-padding-block: rem-calc(12);
$desktop-sub-menu-link-padding-inline: $desktop-parent-menu-item-padding-inline; // usually this is same as parent menu

// Desktop Parent Menu
////////////////////////////////////////////////
.header-nav-parent-menu {
	@include media-breakpoint-up($menu-breakpoint) {
		display: flex;
		gap: rem-calc(20);

		> li {
			> a {
				background-color: $desktop-parent-menu-link-bg-color;
				color: $desktop-parent-menu-link-color;
				display: block;
				padding: $desktop-parent-menu-item-padding-block
					$desktop-parent-menu-item-padding-inline;
			}

			&:hover,
			&:focus-visible {
				> a {
					background-color: $desktop-parent-menu-link-hover-bg-color;
					color: $desktop-parent-menu-link-hover-color;
				}
			}

			&.current-page-ancestor > a,
			&.current-menu-parent > a,
			&.current-menu-item > a {
				background-color: $desktop-parent-menu-current-item-link-bg-color;
				color: $desktop-parent-menu-current-item-link-color;
			}

			&.menu-item-has-children {
				position: relative;

				> a {
					/* stylelint-disable scss/operator-no-newline-after */
					padding-inline-end: $desktop-parent-menu-item-padding-block +
						$desktop-parent-menu-dropdown-icon-border +
						$desktop-parent-menu-dropdown-icon-border +
						$desktop-parent-menu-space-between-text-and-arrow;
					/* stylelint-enable scss/operator-no-newline-after */

					&::after {
						aspect-ratio: 6/4;
						background-color: $desktop-parent-menu-dropdown-icon-color;
						inline-size: rem-calc(10);
						margin-block-start: rem-calc(-2);
						position: absolute;
						top: 50%;
						right: $desktop-parent-menu-item-padding-block;
						content: '';
						clip-path: polygon(
							0% 0%,
							20% 0%,
							50% 50%,
							80% 0%,
							100% 0%,
							50% 80%
						);
					}
				}

				&:hover,
				&:focus-visible {
					> a {
						color: $desktop-parent-menu-link-hover-color;

						&::after {
							background-color: $desktop-parent-menu-dropdown-icon-hover-color;
						}
					}
				}
			}
		}

		// any level
		li.menu-item-has-children {
			&:hover,
			&:focus-visible {
				> .sub-menu {
					visibility: visible;
					z-index: 10;
					opacity: 1;
					pointer-events: auto;
				}
			}
		}
	} // breakpoint
}

// Desktop Sub Menu
////////////////////////////////////////////////
.header-nav-parent-menu {
	@include media-breakpoint-up($menu-breakpoint) {
		.sub-menu {
			visibility: hidden;
			inline-size: $desktop-sub-menu-width;
			position: absolute;
			z-index: -1;
			opacity: 0;
			transition:
				250ms color,
				250ms background-color,
				opacity 0.15s;
			pointer-events: none;

			> li {
				line-height: 1.3;

				&:hover,
				&:focus-visible {
					> a {
						background-color: $desktop-sub-menu-link-hover-bg-color;
						color: $desktop-sub-menu-link-hover-color;
					}
				}

				> a {
					background-color: $desktop-sub-menu-link-bg-color;
					color: $desktop-sub-menu-link-color;
					font-size: $desktop-sub-menu-font-size;
					display: block;
					padding: $desktop-sub-menu-link-padding-block
						$desktop-sub-menu-link-padding-inline;
					border-bottom: rem-calc(1) solid
						$desktop-sub-menu-link-bg-color;
				}
			}

			> li.current-menu-item > a {
				background-color: $desktop-sub-menu-current-item-link-bg-color;
				color: $desktop-sub-menu-current-item-link-color;
			}
		}

		// first sub menu
		> li > .sub-menu {
			top: 100%;
			left: 0;

			> li.menu-item-has-children > a {
				// padding-inline-end: $desktop-parent-menu-item-padding-block +
				// 	$desktop-parent-menu-dropdown-icon-border +
				// 	$desktop-parent-menu-dropdown-icon-border +
				// 	$desktop-parent-menu-space-between-text-and-arrow; //chevron icon
				position: relative;

				&::after {
					margin-block-start: rem-calc(-4);
					border: $desktop-parent-menu-dropdown-icon-border solid
						transparent;
					border-inline-start-color: $desktop-parent-menu-dropdown-icon-hover-color;
					position: absolute;
					inset-inline-end: $desktop-parent-menu-item-padding-block;
					inset-block-start: $desktop-parent-menu-item-padding-inline;
					transition:
						250ms color,
						250ms background-color;
					content: '';
				}
			}
		}

		// second sub menu
		.sub-menu .sub-menu {
			inline-size: fit-content;
			min-inline-size: $desktop-sub-menu-width;
			max-inline-size: 40vw;
			top: 0;
			left: $desktop-sub-menu-width;
		}
	}
}
