.search-form {
	position: relative;

	.search {
		padding: rem-calc(20) rem-calc(16);
		border: rem-calc(1) solid #d1d1d1;
		inline-size: 100%;
	}

	.submit {
		background-color: transparent;
		border: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		inline-size: rem-calc(44);

		svg {
			inline-size: rem-calc(24);
		}
	}
}
