.list-social-links {
	display: flex;
	align-items: center;
	gap: rem-calc(16);

	> li {
		aspect-ratio: 1;
		width: fluid(24, 32);
	}

	a {
		color: inherit;
		display: block;
		position: relative;
		transition: all 0.1s ease-out;

		&:hover,
		&:focus-visible {
			transform: scale(1.2);
		}
	}
}
