.swiper-navigation {
	display: flex;
	gap: rem-calc(4);

	&.style-floating {
		.swiper-button-prev,
		.swiper-button-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		.swiper-button-prev {
			left: rem-calc(20);
		}

		.swiper-button-next {
			right: rem-calc(20);
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		background-color: #f2f2f2;
		line-height: fluid(44, 56);
		display: flex;
		align-items: center;
		justify-content: center;
		width: fluid(44, 56);
		height: fluid(44, 56);
		margin: 0;
		position: relative;
		top: auto;
		right: auto;
		left: auto;
		z-index: 10;
		transition: 0.2s ease-out;
		user-select: none;

		svg {
			color: #333;
			max-width: fluid(16, 24);
		}

		&::after {
			display: none; // overwrite arrow
		}
	}

	.swiper-button-prev {
		&:hover,
		&:focus-visible {
			svg {
				animation: micro-left 0.3s cubic-bezier(0.17, 0.67, 0.63, 1.55);
			}
		}
	}

	.swiper-button-next {
		&:hover,
		&:focus-visible {
			svg {
				animation: micro-right 0.3s cubic-bezier(0.17, 0.67, 0.63, 1.55);
			}
		}
	}
}
