.site-header {
  background-color: black;
  padding-top: rem-calc( 10px );
  padding-bottom: rem-calc( 10px );
}

.header-logo {
  width: rem-calc( 151px );
  height: rem-calc( 25px );
  position: relative;
  float: left;
  margin-top: rem-calc( 15px ) !important; // overwrite :first-child
  margin-bottom: 0;
  a {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
