.site-header {
	background-color: #f9f9f9;
  padding-top: rem-calc( 10px );
	padding-bottom: rem-calc( 10px );
}

.header-logo {
	width: rem-calc( 151px );
  height: rem-calc( 25px );
  position: relative;
  float: left;
  margin-top: rem-calc( 15px ) !important; // overwrite :first-child
  margin-bottom: 0;
  a {
    @include text-hide;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}