// Gallery
.gallery {
	float: left;
	width: 100%;
}

.gallery-item {
	margin: 0 0 $global_margin_bottom !important; /* Overwrite default css */
	@include breakpoint( $lg ) {
	  margin-bottom: $global_margin_bottom_lg !important;
	}
}

.gallery-icon img {
	background: #fff;
	padding: 5px;
	border: 1px solid #ddd !important; /* Overwrite default css */
	box-shadow: 0 0 2px rgba(0,0,0,.15);
}

.gallery-caption {
	background: #f1f1f1;
	display: block;
	width: 80%;
	padding: 5px;
	border: 1px solid #eee; /* Overwrite default css */
	margin: 5px auto 0 !important;
}

.gallery-images-count {

}

// Images
.size-small, .size-medium, .size-large, .size-full {
	// padding: 5px; // Center the Image, Required
}

.wp-caption {
	border: 1px solid #ddd;
	margin-bottom: $global_margin_bottom;
	box-shadow: 0 0 2px rgba(0,0,0,.15);
	a {
		display: block; // Containing the Image
	}
	@include breakpoint( $lg ) {
	  margin-bottom: $global_margin_bottom_lg;
	}
}

.excerpt .wp-caption { margin: 0 auto; }

.wp-caption-text {
	font-style: italic;
	text-align: center;
	margin: 10px !important; // Overwrite .content p
}

/* Format Status */
.format-status .excerpt { font-size: $root_font_size + 3; }


// Aside
.format-aside .excerpt {
	padding-left: 20px;
	border-left: 10px solid #eee;
}


// Chat
.format-chat .excerpt {
	background: #eee;
	padding: 20px;
}


// Quote
.format-quote cite {
	float: right;
}


// Video
.format-video embed, .format-video video {
	padding: 4px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	box-shadow: 0 0 2px rgba(0,0,0,.15);
}